<h2>Récapitulatif mensuel des paiements</h2>

<div class="row">
	<div class="col-md-6">
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title">Totaux</span>
			</div>
			<div class="list-group">
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Nombre de courses effectuées<span class="text-default text-sm" style="float:right;"><%= @courses.count %></span></div>
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Somme totale des courses (avant codes promos)<span class="text-default text-sm" style="float:right;"><%= @totalPrice.round(2) %> €</span></div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel widget-support-tickets">
			<div class="panel-heading">
				<span class="panel-title">Détails des courses effectuées</span>
			</div>
			<div class="panel-body">
				<% @courses.where("status = ?", Course.statuses[:done]).order('payment_status ASC').each do |course| %>
					<div class="ticket">
						<% if course.payment_status == 'paid' %>
						<span class="label label-success ticket-label">Payée</span>
						<% else %>
						<span class="label label-danger ticket-label">Non payée</span>
						<% end %>
						<a title="Voir la course" href="<%= admin_course_path(course) %>" class="ticket-title">De <%= course.from %> à <%= course.to %><span>[#<%= course.id.to_s %>]</span></a>
						<div class="ticket-info">
							Démarrée par <a href="<%= admin_user_path(course.user) %>"><%= build_name(course.user) %></a> <%= getDateTime(course) %>
						</div>
						<div class="ticket-info">
							Effectuée par la société <a href="<%= admin_partner_path(course.partner) %>"><%= course.partner.name %></a><span class="text-default text-sm" style="float:right;"><%= price_afterExtras(course).round(2) %> €</span>
						</div>
					</div>
				<% end %>
			</div>
			<div class="panel-footer">
				<% totalUnpaid = 0 %>
				<% @unpaidCourses.each do |course| %>
					<% totalUnpaid += price_afterExtras(course) %>
				<% end %>
				<%= @unpaidCourses.count %> courses non reglées <span class="text-default text-sm" style="float:right;"><%= totalUnpaid.round(2) %> €</span>
			</div>
		</div>

		<% if @toNaveco.count > 0 %>
		<div class="panel widget-support-tickets">
			<div class="panel-heading">
				<span class="panel-title">Sommes dues à Naveco</span><span class="label label-danger ticket-label"><%= (@toNaveco.map {|s| price_afterExtras(s, true)}.reduce(0, :+)).round(2) %> €</span>
			</div>
			<div class="panel-body">
					<div class="ticket">
						<div>
							
						</div>
						<% @toNaveco.each do |course| %>
						<div class="ticket-info">
							Course n°<a href="<%= admin_course_path(course) %>"><b><%= course.id %></b></a> - De <%= course.from %> à <%= course.to %><span class="text-default text-xs" style="float:right;"><b><%= price_afterExtras(course, true).round(2) %> € </b> (de <%= price_afterExtras(course).round(2) %> €)</span>
						</div>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>