<script>
	init.push(function () {
		$('#companies').dataTable();
		$('#companies_wrapper .table-caption').html('Entreprises clientes');
		$('#companies_wrapper .dataTables_filter input').attr('placeholder', 'Recherche...');
	});
</script>

<div class="table-primary">
	<table class="table table-striped table-bordered" id="companies">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody class="valign-middle">
			<% @companies.each do |company| %>
				<tr>
					<td><%= company.id %></td>
					<td><%= company.name %></td>
					<td style="font-size:16px;"><%= link_to partner_admin_company_path(company), { :title => "Voir" } do %><i class="menu-icon fa fa-eye"></i><% end %> | <%= link_to edit_partner_admin_company_path(company), { :title => "Editer" } do %><i class="menu-icon fa fa-pencil"></i><% end %> | <%= link_to partner_admin_company_path(company), method: :delete, data: { confirm: "Êtes-vous sur ?" }, title: "Supprimer" do %><i class="menu-icon fa fa-trash-o"></i><% end %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<%= link_to(new_partner_admin_company_path) do %>
	<button class="btn btn-flat btn-labeled btn-primary">
	    <span class="btn-label icon fa fa-flag-checkered"></span>
		Ajouter une entreprise
	</button>
<% end %>
