<script>
	init.push(function () {
		$('#partnersTable').dataTable();
		$('#partnersTable_wrapper .table-caption').text('Liste des entreprises partenaires');
		$('#partnersTable_wrapper .dataTables_filter input').attr('placeholder', 'Recherche...');
	});
</script>

<div class="table-primary">
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="partnersTable">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Status</th>
				<th>Code postal, ville</th>
				<th>Numéro de téléphone</th>
				<th>Nombre de véhicules</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
<% @partners.each do |partner| %>
	<tr>
		<td><%= partner.id %></td>
		<td><%= partner.name %></td>
		<td><%= Partner::Statuses[partner.status.to_sym][:name] %></td>
		<td><%= partner.postcode %>, <%= partner.city %></td>
		<td><%= partner.phone %></td>
		<td><%= partner.cars.count %></td>
		<td style="text-align:center; font-size:16px;"><%= link_to admin_partner_path(partner), { :title => "Voir" } do %><i class="menu-icon fa fa-eye"></i><% end %> | <%= link_to edit_admin_partner_path(partner), { :title => "Editer" } do %><i class="menu-icon fa fa-pencil"></i><% end %> | <%= link_to admin_partner_path(partner), method: :delete, data: { confirm: "Êtes-vous sur ?" }, title: "Supprimer" do %><i class="menu-icon fa fa-trash-o"></i><% end %></td>
	</tr>
<% end %>
		</tbody>
	</table>
</div>

<%= link_to(new_admin_partner_path) do %>
	<button class="btn btn-flat btn-labeled btn-primary">
	    <span class="btn-label icon fa fa-briefcase"></span>Ajouter un partenaire
	</button>
<% end %>