<h1>Voir une entreprise partenaire et ses détails (page d'accueil de l'entreprise partenaire)</h1>

<h2>Informations de l'entreprise :</h2>
<table>
	<tr>
		<td>Id : </td>
		<td><%= @partner.id %></td>
	</tr>
	<tr>
		<td>Nom : </td>
		<td><%= @partner.name %></td>
	</tr>
	<tr>
		<td>Note : </td>
		<td><%= @partner.note %></td>
	</tr>
</table>
<p><%= link_to "Éditer les informations", edit_admin_partner_path(@partner) %></p>

<h2>Liste des chauffeurs de l'entreprise</h2>
<table>
<% @partner.users.each do |user| # An user belonging to a partner is a driver %>
	<tr>
		<td><%= user.id %></td>
		<td><%= user.name %></td>
		<td><%= link_to "Voir", admin_user_path(user) %></td>
		<td><%#= link_to "Editer", edit_user_path(user) %></td>
		<td><%#= link_to "Supprimer", user, method: :delete, data: { confirm: "Êtes vous sur ?" } %></td>
	</tr>
<% end %>
</table>
<p><%#= link_to "Ajouter un chauffeur", new_partner_user_path %></p>

<h2>Liste des voitures de l'entreprise</h2>
<table>
<% @partner.cars.each do |car| %>
	<tr>
		<td><%= car.id %></td>
		<td><%= car.name %></td>
		<td><%= link_to "Voir", partner_admin_car_path(car) %></td>
		<td><%#= link_to "Editer", edit_car_path(car) %></td>
		<td><%#= link_to "Supprimer", car, method: :delete, data: { confirm: "You sure?" } %></td>
	</tr>
<% end %>
</table>
<p><%#= link_to "Ajouter une voiture", new_admin_partner_car_path(@partner) %></p>

<h2>Liste des courses de l'entreprise</h2>


<p><%= link_to "Revenir à la page partenaires", admin_partners_path %></p>