<h1>Page pour éditer un utilisateur et ses détails</h1>
<%= form_for(@partner) do |f| %>
	<%#= render 'common/error_messages' %>
	<%= f.text_field :name, :placeholder => "Nom" %>

	<%= f.label :email %>
	<%= f.text_field :email, :placeholder => "Email" %>

	<%= f.submit "Éditer le compte", class: "btn btn-large btn-primary" %>
<% end %>

<%= link_to "Retour aux entreprises partenaires", partners_path %>