<h1>Liste des entreprises partenaires</h1>
<table>
<% @partners.each do |partner| %>
	<tr>
		<td><%= partner.id %></td>
		<td><%= partner.name %></td>
		<td><%= partner.email %></td>
		<td><%#= partner.cars[1] %></td>
		<td><%= link_to "Editer", edit_partner_path(partner) %></td>
		<td><% if current_user.account_type == 'admin' && !current_user?(partner) %><%= link_to "Supprimer", partner, method: :delete, data: { confirm: "You sure?" } %>
  <% end %></td>
	</tr>
<% end %>
</table>
<%= link_to "Retour à l'accueil", root_url %>
<%= link_to "Ajouter une entreprise partenaire", new_partner_path %>