<h1>Ajouter une entreprise partenaire</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@partner) do |f| %>
    	<%#= render 'common/error_messages' %>
      <%= f.text_field :name, :placeholder => "Nom" %>

      <%= f.label :email %>
      <%= f.text_field :email, :placeholder => "Email" %>

      <%#= f.label :account_type, "Type de compte" %>
      <%#= f.select(:account_type, User::Account_type_alias.reverse) %>

      <%= f.submit "Créer le partenaire", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to "Retour aux partenaires", partners_path %>
