<!-- Javascript -->
<script>
	init.push(function () {
		$("#partner_phone").mask("99.99.99.99.99");
		$("#partner_company_code").mask("999 999 999 99999");
		$('#jq-validation-select2').select2({ allowClear: true, placeholder: 'Select a country...' }).change(function(){
			$(this).valid();
		});
		$('#jq-validation-select2-multi').select2({ placeholder: 'Select gear...' }).change(function(){
			$(this).valid();
		});

		// Setup validation
		$("#edit_partner_1").validate({
			ignore: '.ignore, .select2-input',
			focusInvalid: false,
			rules: {
				'partner[email]': {
				  required: true,
				  email: true
				},
				'user[password]': {
					required: true,
					minlength: 6,
					maxlength: 20
				},
				'user[password_confirmation]': {
					required: true,
					minlength: 6,
					equalTo: "#user_password"
				},
				'partner[phone]': {
					required: true,
					phone_format: true
				}
			},
			messages: {
				'jq-validation-policy': 'You must check it!'
			}
		});
	});

init.push(function () {
	// Single select
	$("#car_car_type").select2({
		allowClear: true,
		placeholder: "Choisir"
	});
});

</script>
<!-- / Javascript -->

<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Ajouter une nouvelle voiture</span>
	</div>
	<div class="panel-body">
		<%= form_for [:partner_admin, @car] do |f| %>
		    
			<%= render 'common/error_messages', object: f.object %>

			<div class="form-group">
				<%= f.label :name, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :name, class: "form-control", :placeholder => "Nom" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :car_type, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.select(:car_type, Car::Car_type_alias.reverse, class: "form-control") %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :slots, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :slots, class: "form-control", :placeholder => "Nombre de places" %>
				</div>
			</div>

			<hr class="panel-wide" />
			<br />

			<div class="form-group">
				<div class="col-sm-9">
					<%= f.submit action, class: "btn btn-large btn-primary btn-flat" %>
				</div>
			</div>

		<% end %>
	</div>
</div>