<h1>Entreprise numéro <%= @company.id %> : <%= @company.name %></h1>

<div>
	<h2>Utilisateurs de cette entreprise</h2>
	<table>
		<% @users = Company.find_by(id: 1).users %>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= user.partner.name unless user.partner.nil? %></td>
			<td><%= user.created_by_user.name unless user.created_by.nil? %></td>
			<td style="text-align:center; font-size:16px;"><%= link_to admin_user_path(user), { :title => "Voir" } do %><i class="menu-icon fa fa-eye"></i><% end %> | <%= link_to edit_admin_user_path(user), { :title => "Editer" } do %><i class="menu-icon fa fa-pencil"></i><% end %> | <%= link_to admin_company_path(company_id: @company, user_id: user), method: :delete, data: { confirm: "Êtes-vous sur ?" }, title: "Détacher" do %><i class="menu-icon fa fa-times"></i><% end %></td>
		</tr>
		<% end %>
	</table>
</div>
<div>
	<h2>Ajouter un utilisateur à cette entreprise</h2>
	<p>
		<% @company = Company.find_by(id: 1) %>
		<%= form_for [:admin, @company], url: admin_company_path(@company) do |f| %>
		    
			<%= render 'common/error_messages', object: f.object %>

			<%= f.fields_for :users do |user| %>
		      <div class="form-group">
				<%= user.label "Utilisateur:", class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= user.select(:id, users_for_select, class: "form-control") %>
				</div>
			</div>
		  <% end %>

			

			<%= f.submit "Ajouter", class: "btn btn-large btn-primary" %>

		<% end %>
	</p>
</div>
<p><%= link_to "Retour aux entreprises", admin_companies_path %></p>