<script>
	init.push(function () {
		$("#company_users_id").select2({
			allowClear: true,
			placeholder: "Sélectionner..."
		});
	});
</script>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-info panel-dark widget-profile">
			<div class="panel-heading">
				<div class="widget-profile-bg-icon"><i class="fa fa-gears"></i></div>
				<img src="<%= image_path('pixel-admin/avatar.png') %>" alt="" class="widget-profile-avatar">
				<div class="widget-profile-header">
					<span><%= @company.name %> <em class="text-sm">[#<%= @company.id %>]</em></span><br/>
					<span><%= @company.email %></span>
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Adresse<span class="text-default text-sm" style="float:right;"><%= build_address(@company) %></span></div>
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Téléphone<span class="text-default text-sm" style="float:right;"><%= @company.phone %></span></div>
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>E-mail<span class="text-default text-sm" style="float:right;"><%= @company.email %></span></div>
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>SIRET<span class="text-default text-sm" style="float:right;"><%= @company.company_code %></span></div>
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Code TVA<span class="text-default text-sm" style="float:right;"><%= @company.tva_number %></span></div>
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Interlocuteur<span class="text-default text-sm" style="float:right;"><%= @company.bookmanager %></span></div>
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Précisions<span class="text-default text-sm" style="float:right;"><%= @company.notes %></span></div>
				
				<%= link_to edit_admin_company_path(@company), class: "list-group-item" do %><button class="btn btn-labeled btn-block">Editer les informations</button><% end %>
			</div>
		</div>
		<div class="panel panel-dark panel-light-green">
			<div class="panel-heading">
				<span class="panel-title"><i class="panel-title-icon fa fa-users"></i>Utilisateurs de cette entreprise</span>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Nom</th>
							<th>E-mail</th>
							<th>Type de compte</th>
							<th>Détacher</th>
						</tr>
					</thead>
					<tbody class="valign-middle">
						<% @users.each do |user| %>
						<tr>
							<td><%= user.id %></td>
							<td><%= link_to admin_user_path(user), { :title => "Voir" } do %><%= build_name(user) %><% end %></td>
							<td><%= user.email %></td>
							<td><%= User::Account_types[user.account_type.to_sym][:name] %></td>
							<td><%= link_to admin_company_path(company_id: @company, user_id: user), method: :delete, data: { confirm: "Êtes-vous sur ?" }, title: "Détacher" do %><i class="menu-icon fa fa-times"></i><% end %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="panel-footer">
				<p>Ajouter un utilisateur à cette entreprise</p>
				<div class="row">
					<div class="col-sm-6">
						<%= form_for [:admin, @company], url: admin_company_path(@company) do |f| %>
							<%= f.fields_for :users do |user| %>
								<%= user.select(:id, users_for_select, class: "form-control") %>
						<% end %>
					</div>
					<div class="col-sm-6">
						<%= f.submit "Ajouter", class: "btn btn-flat btn-primary" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<% if @company.partner %>
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title"><i class="panel-title-icon fa fa-users"></i>Partenaire rattaché</span>
			</div>
			<div class="panel-body">
				<%= @company.partner.name %>
			</div>
		</div>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<a href="<%= admin_companies_path %>">
			<button class="btn btn-flat btn-labeled btn-warning">
			    <span class="btn-label icon fa fa-reply"></span>
				Retour aux entreprises
			</button>
		</a>
	</div>
</div>