<h1>Liste des utilisateurs</h1>
<table>
<% @users.each do |user| %>
	<tr>
		<td><%= user.id %></td>
		<td><%= user.name %></td>
		<td><%= user.email %></td>
		<td><%= user.account_type %></td>
		<td><%= link_to "Editer", edit_user_path(user) %></td>
		<td><% if current_user.account_type == 'admin' && !current_user?(user) %><%= link_to "Supprimer", user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %></td>
	</tr>
<% end %>
</table>
<%= link_to "Retour à l'accueil", root_url %>
<%= link_to "Ajouter un utilisateur", new_user_path %>