<!-- Javascript -->
<script>
	init.push(function () {
		$("#jq-validation-phone").mask("(999) 999-9999");
		$('#jq-validation-select2').select2({ allowClear: true, placeholder: 'Select a country...' }).change(function(){
			$(this).valid();
		});
		$('#jq-validation-select2-multi').select2({ placeholder: 'Select gear...' }).change(function(){
			$(this).valid();
		});

		// Add phone validator
		$.validator.addMethod(
			"phone_format",
			function(value, element) {
				var check = false;
				return this.optional(element) || /^\(\d{3}\)[ ]\d{3}\-\d{4}$/.test(value);
			},
			"Invalid phone number."
		);

		// Setup validation
		$("#new_user").validate({
			ignore: '.ignore, .select2-input',
			focusInvalid: false,
			rules: {
				'user[email]': {
				  required: true,
				  email: true
				},
				'user[password]': {
					required: true,
					minlength: 6,
					maxlength: 20
				},
				'user[password_confirmation]': {
					required: true,
					minlength: 6,
					equalTo: "#user_password"
				},
				'jq-validation-required': {
					required: true
				},
				'jq-validation-url': {
					required: true,
					url: true
				},
				'jq-validation-phone': {
					required: true,
					phone_format: true
				},
				'jq-validation-select': {
					required: true
				},
				'jq-validation-multiselect': {
					required: true,
					minlength: 2
				},
				'jq-validation-select2': {
					required: true
				},
				'jq-validation-select2-multi': {
					required: true,
					minlength: 2
				},
				'jq-validation-text': {
					required: true
				},
				'jq-validation-simple-error': {
					required: true
				},
				'jq-validation-dark-error': {
					required: true
				},
				'jq-validation-radios': {
					required: true
				},
				'jq-validation-checkbox1': {
					require_from_group: [1, 'input[name="jq-validation-checkbox1"], input[name="jq-validation-checkbox2"]']
				},
				'jq-validation-checkbox2': {
					require_from_group: [1, 'input[name="jq-validation-checkbox1"], input[name="jq-validation-checkbox2"]']
				},
				'jq-validation-policy': {
					required: true
				}
			},
			messages: {
				'jq-validation-policy': 'You must check it!'
			}
		});
	});

init.push(function () {
	// Single select
	$("#user_account_type").select2({
		allowClear: true,
		placeholder: "Select a State"
	});
});
</script>
<!-- / Javascript -->

<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Informations</span>
	</div>
	<div class="panel-body">

		<%= form_for [:partner_admin, @user] do |f| %>
			<%= render 'common/error_messages', object: f.object %>

			<div class="form-group">
				<%= f.label :name, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :name, class: "form-control", :placeholder => "Nom" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :email, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :email, class: "form-control", :placeholder => "Email" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :phone, "Téléphone :", class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :phone, class: "form-control", :placeholder => "Téléphone" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :account_type, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.select(:account_type, User::Account_type_select_noadmin.reverse, class: "form-control") %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :password, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.password_field :password, class: "form-control", :placeholder => "Mot de passe" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :password_confirmation, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.password_field :password_confirmation, class: "form-control", :placeholder => "Confirmation" %>
				</div>
			</div>

			<%= hidden_field(:user, 'created_by', {value: current_user.id}) %>

			<hr class="panel-wide" />
			<br />

			<div class="form-group">
				<div class="col-sm-9">
					<%= f.submit action, class: "btn btn-large btn-primary btn-flat" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
