<!-- Javascript -->
<script>
	init.push(function () {
		$("#promocode_effect_type, #promocode_effect_length").select2({
			allowClear: true,
			placeholder: "Select a State"
		});
	});
</script>

<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Code promotion</span>
	</div>
	<div class="panel-body">

		<%= form_for [:admin, @promocode] do |f| %>
			<%= render 'common/error_messages', object: f.object %>

			<div class="form-group">
				<%= f.label :name, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :name, class: "form-control", :placeholder => "Nom" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :code, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :code, class: "form-control", :placeholder => "Code" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :effect_type, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.select(:effect_type, Promocode::Effect_type_select, class: "form-control") %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :effect_type_value, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :effect_type_value, class: "form-control", :placeholder => "Valeur" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :effect_length, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.select(:effect_length, Promocode::Effect_length_select, class: "form-control") %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :effect_length_value, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :effect_length_value, class: "form-control", :placeholder => "Valeur" %>
				</div>
			</div>
	</div>
	<div class="panel-footer text-right">
		<a class="btn btn-flat btn-danger" href="<%= admin_promocodes_path %>">Annuler</a>
		<%= f.submit action, class: "btn btn-primary btn-flat" %>
		<% end %>
	</div>
</div>
