<script>
	init.push(function () {
		$("#company_phone").mask("99.99.99.99.99");
		$("#company_company_code").mask("999 999 999 99999");
		$("#company_postcode").mask("99999");
		$("#company_tva_number").mask("FRaa999999999");

		$(".select2").select2({
			allowClear: true,
			placeholder: "Sélectionner..."
		});

		$(".new_company, .edit_company").validate({
			focusInvalid: false,
			rules: {
				'company[name]': {
				  required: true
				},
				'company[address]': {
					required: true
				},
				'company[postcode]': {
					required: true
				},
				'company[city]': {
					required: true
				}
			}
		});
	});
</script>

<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Entreprise cliente</span>
	</div>
	<div class="panel-body">
		<%= form_for [controller, @company] do |f| %>
		    
			<%= render 'common/error_messages', object: f.object %>

			<div class="row form-group">
				<%= f.label :name, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :name, class: "form-control", :placeholder => "Nom de l'entreprise" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :phone, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :phone, class: "form-control", :placeholder => "Téléphone" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :address, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :address, class: "form-control", :placeholder => "Adresse" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :postcode, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :postcode, class: "form-control", :placeholder => "Code postal" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :city, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :city, class: "form-control", :placeholder => "Ville" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :company_code, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :company_code, class: "form-control", :placeholder => "Siret (___ ___ ___ _____)" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :tva_number, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :tva_number, class: "form-control", :placeholder => "Numéro TVA (FR___________)" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :bookmanager, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :bookmanager, class: "form-control", :placeholder => "Interlocuteur" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :notes, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_area :notes, class: "form-control", :placeholder => "Renseignements divers" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :partner_id, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.select(:partner_id, partners_for_select('Aucune'), {}, { :class => 'select2' }) %>
				</div>
			</div>

			<%#= hidden_field(:user, :created_by) %>

	</div>
	<div class="panel-footer text-right">
		<a class="btn btn-flat btn-danger" href="<%= send("#{controller}_companies_path") %>">Annuler</a>
		<%= f.submit action, class: "btn btn-primary btn-flat" %>
			<% end %>
	</div>
</div>	