<script>
	init.push(function () {
		$("#partner_phone").mask("99.99.99.99.99");
		$("#partner_postcode").mask("99999");
		$("#partner_company_code").mask("999 999 999 99999");
		$("#partner_tva_number").mask("FRaa999999999");

		$(".select2").select2({
			allowClear: true,
			placeholder: "Sélectionner..."
		});

		// Setup validation
		$(".new_partner, .edit_partner").validate({
			focusInvalid: false,
			rules: {
				'partner[name]': {
				  required: true
				},
				'partner[email]': {
				  required: true,
				  email: true
				},
				'partner[phone]': {
					required: true,
					phone_format: true
				}
			}
		});
	});
</script>

<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Entreprise partenaire</span>
	</div>
	<div class="panel-body">

		<%= form_for [controller, @partner] do |f| %>		
			<%= render 'common/error_messages', object: f.object %>

			<div class="row form-group">
				<%= f.label :name, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :name, class: "form-control", :placeholder => "Nom" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :email, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :email, class: "form-control", :placeholder => "Email" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :logo, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.file_field :logo %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :phone, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :phone, class: "form-control", :placeholder => "Téléphone" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :address, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :address, class: "form-control", :placeholder => "Adresse" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :postcode, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :postcode, class: "form-control", :placeholder => "Code postal" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :city, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :city, class: "form-control", :placeholder => "Ville" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :company_code, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :company_code, class: "form-control", :placeholder => "Siret" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :tva_number, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :tva_number, class: "form-control", :placeholder => "Numéro TVA" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :iban, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :iban, class: "form-control", :placeholder => "Numéro IBAN" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :status, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.select(:status, Partner::Statuses_select, {}, { :class => 'select2' }) %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :note, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_area :note, class: "form-control", :placeholder => "Note" %>
				</div>
			</div>
	</div>
	<div class="panel-footer text-right">
		<a class="btn btn-flat btn-danger" href="<%= send("#{controller}_partners_path") %>">Annuler</a>
		<%= f.submit action, class: "btn btn-primary btn-flat" %>
			<% end %>
	</div>
</div>	