<script>
	init.push(function () {
		/*$(".new_car, .edit_car").validate({
			focusInvalid: false,
			rules: {
				'car[name]': {
				  required: true
				},
				'car[nb_slots]': {
				  required: true
				}
			}
		});*/

		$(".select2").select2({
			allowClear: true,
			placeholder: "Choisir"
		});

		$(".type_select").on('change', function() {
			$.ajax({
	            url: '/ajax/get_objects',
	            type: "GET",
	            dataType: "json",
	            data: {
	            	objects: $(this).val(),
	            	options: {
	            		why: 'for_select',
	            		select: ['id', 'name']
	            	}
	            }
	        }).done(function(response) {
	        	console.log(response)
	        	newArray = []
	        	for (var i=0; i < response.length; i++) {
	        		newArray.push({id: response[i].id, text: response[i].name})
	        	}
	        	console.log(newArray)
	        	$("#payment_to_id").select2({
        			data: newArray
        		});
	        });
		}).trigger('change');
	});
</script>

<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Enregistrer un nouveau paiement</span>
	</div>
	<div class="panel-body">
		<%= form_for [controller, @payment] do |f| %>
		    
			<%= render 'common/error_messages', object: f.object %>

			<div class="row form-group">
				<%= f.label :to_type, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.select(:to_type, AppTools::buildList('select', 'objects'), {}, { :class => 'select2 type_select' }) %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :to_id, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.hidden_field(:to_id) %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :amount, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :amount, class: "form-control", :placeholder => "Montant de la transaction" %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :method, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.select(:method, methods_for_select, {}, { :class => 'select2' }) %>
				</div>
			</div>

			<div class="row form-group">
				<%= f.label :notes, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_area :notes, class: "form-control", :placeholder => "Description, notes, ..." %>
				</div>
			</div>
	</div>
	<div class="panel-footer text-right">
		<a class="btn btn-flat btn-danger" href="<%= send("#{controller}_payments_path") %>">Annuler</a>
		<%= f.submit action, class: "btn btn-primary btn-flat" %>
		<% end %>
	</div>
</div>