<script>
	init.push(function () {
		$("#user_phone").mask("99.99.99.99.99");
		$("#user_cellphone").mask("99.99.99.99.99");
		$("#user_postcode").mask("99999");

		rules = {
			'user[name]': {
				required: true
			},
			'user[last_name]': {
				required: true
			},
			'user[email]': {
			  required: true,
			  email: true
			},
			'user[address]': {
				required: true
			},
			'user[postcode]': {
				required: true
			},
			'user[city]': {
				required: true
			}
		}

		if($(".new_user").length > 0) {
			rules['user[password]'] = {
				required: true,
				minlength: 6,
				maxlength: 20
			};
			rules['user[password_confirmation]'] = {
				required: true,
				minlength: 6,
				maxlength: 20,
				equalTo: "#user_password"
			}
		}

		$(".new_user, .edit_user").validate({
			focusInvalid: false,
			rules: rules
		});

		/*$("#dropzonejs-example").dropzone({
			url: "//dummy.html",
			paramName: "photo", // The name that will be used to transfer the file
			maxFilesize: 1, // MB

			addRemoveLinks : true,
			dictResponseError: "Impossible d'uploader l'image!",
			autoProcessQueue: false,
			thumbnailWidth: 138,
			thumbnailHeight: 120,
			dictDefaultMessage: "Test",

			previewTemplate: '<div class="dz-preview dz-file-preview"><div class="dz-details"><div class="dz-filename"><span data-dz-name></span></div><div class="dz-size">File size: <span data-dz-size></span></div><div class="dz-thumbnail-wrapper"><div class="dz-thumbnail"><img data-dz-thumbnail><span class="dz-nopreview">No preview</span><div class="dz-success-mark"><i class="fa fa-check-circle-o"></i></div><div class="dz-error-mark"><i class="fa fa-times-circle-o"></i></div><div class="dz-error-message"><span data-dz-errormessage></span></div></div></div></div><div class="progress progress-striped active"><div class="progress-bar progress-bar-success" data-dz-uploadprogress></div></div></div>',

			resize: function(file) {
				var info = { srcX: 0, srcY: 0, srcWidth: file.width, srcHeight: file.height },
					srcRatio = file.width / file.height;
				if (file.height > this.options.thumbnailHeight || file.width > this.options.thumbnailWidth) {
					info.trgHeight = this.options.thumbnailHeight;
					info.trgWidth = info.trgHeight * srcRatio;
					if (info.trgWidth > this.options.thumbnailWidth) {
						info.trgWidth = this.options.thumbnailWidth;
						info.trgHeight = info.trgWidth / srcRatio;
					}
				} else {
					info.trgHeight = file.height;
					info.trgWidth = file.width;
				}
				return info;
			}
		});*/

		$("#user_account_type").select2({
			allowClear: true,
			placeholder: "Sélectionner..."
		});


		<% if type == 'extended' %>
		$("#user_companies").attr('multiple', 'multiple').attr('name', $("#user_companies").attr('name')+'[]');
		$("#user_companies option:selected").removeAttr("selected");
		$("#user_partner_id, #user_promocode_ids, #user_company_ids").select2({
			allowClear: true,
			placeholder: "Sélectionner..."
		});
		<% end %>
	});
</script>
<%= form_for [:admin, @user], :html => { :multipart => true } do |f| %>
	<div class="row">
		<%= f.label :name, class: "col-sm-3 control-label" %>
		<div class="col-sm-4 form-group has-error">
			<%= f.text_field :name, class: "form-control", :placeholder => "Nom" %>
		</div><div class="col-sm-5">
			<%= f.text_field :last_name, class: "form-control", :placeholder => "Prénom" %>
		</div>
	</div>

	<div class="row form-group">
		<%= f.label :email, class: "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :email, class: "form-control", :placeholder => "Email" %>
		</div>
	</div>

	<div class="row">
		<%= f.label :phone, class: "col-sm-3 control-label" %>
		<div class="col-sm-4 form-group has-error">
			<%= f.text_field :cellphone, class: "form-control", :placeholder => "Téléphone portable" %>
		</div>
		<div class="col-sm-5">
			<%= f.text_field :phone, class: "form-control", :placeholder => "Téléphone" %>
		</div>
	</div>

	<div class="row form-group">
		<%= f.label :address, class: "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :address, class: "form-control", :placeholder => "Adresse" %>
		</div>
	</div>

	<div class="row form-group">
		<%= f.label :postcode, class: "col-sm-3 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :postcode, class: "form-control", :placeholder => "Code postal" %>
		</div>
		<div class="col-sm-5">
			<%= f.text_field :city, class: "form-control", :placeholder => "Ville" %>
		</div>
	</div>

	<% if params["action"] == 'new' || params["action"] == 'operator_steps' then selected = 'client' else selected = @user.account_type end %>
	<div class="row form-group accountTypeRow">
		<%= f.label :account_type, class: "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= zob=f.select(:account_type, User::Account_types_select, :selected => selected, class: "form-control select") %>
		</div>
	</div>

	<div class="row form-group passRow">
		<%= f.label :password, class: "col-sm-3 control-label" %>
		<div class="col-sm-4">
			<%= f.password_field :password, class: "form-control", :placeholder => "Mot de passe" %>
		</div>
		<div class="col-sm-5">
			<%= f.password_field :password_confirmation, class: "form-control", :placeholder => "Confirmation" %>
		</div>
	</div>

	<!--<div class="row form-group">
		<%= f.label :photo, class: "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<div id="dropzonejs-example" class="dropzone-box">
				<div class="dz-default dz-message">
					<i class="fa fa-cloud-upload"></i>
					Drop files in here<br><span class="dz-text-small">or click to pick manually</span>
				</div>
				<div class="fallback">
					<%= file_field(:user, :photo) %>
				</div>
			</div>
		</div>
	</div>-->

	<div class="row form-group photoRow">
		<%= f.label :photo, class: "col-sm-3 control-label" %>
		<div class="col-sm-9">	
			<%= f.file_field :photo %>
		</div>
	</div>


	<% if params["action"] == 'new' then checked = true else checked = false end %>
	<div class="row form-group enableRow">
		<%= f.label :enabled, class: "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<label class="checkbox-inline">
				<%= f.radio_button :enabled, '0', :checked => checked, :class => "px" %>
				<span class="lbl"><%= label :contactmethod_0, 'Non' %></span>
			</label>
			<label class="checkbox-inline">
				<%= f.radio_button :enabled, '1', :checked => !checked, :class => "px" %>
				<span class="lbl"><%= label :contactmethod_1, 'Oui' %></span>
			</label>
		</div>
	</div>

	<% if type == 'extended' %>
		<div class="row form-group">
			<%= f.label :partner_id, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
				<%= f.select(:partner_id, partners_for_select('Aucune'), class: "form-control select") %>
			</div>
		</div>

		<div class="row form-group">
			<%= f.label :companies, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
				<%= f.collection_select :company_ids, Company.all, :id, :name, {}, {:multiple => true} %>
			</div>
		</div>

		<div class="row form-group">
			<%= f.label :promocodes, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
				<%= f.collection_select :promocode_ids, Promocode.all, :id, :name, {}, {:multiple => true} %>
			</div>
		</div>

		<hr class="panel-wide">

		<div class="text-right">
			<a class="btn btn-flat btn-danger" href="<%= admin_users_path %>">Annuler</a>
			<%= f.submit action, class: "btn btn-primary btn-flat" %>
		</div>
	</div>

	<% end %>

<% end %>