<script>
	init.push(function () {
		$("#user_phone").mask("99.99.99.99.99");
		$("#user_cellphone").mask("(+99) 9.99.99.99.99");
		$("#user_postcode").mask("99999");

		rules = {
			'user[last_name]': {
				required: true
			},
			'user[email]': {
			  required: true,
			  email: true
			}
		}

		if($(".new_user").length > 0) {
			rules['user[password]'] = {
				required: true,
				minlength: 6,
				maxlength: 20
			};
			rules['user[password_confirmation]'] = {
				required: true,
				minlength: 6,
				maxlength: 20,
				equalTo: "#user_password"
			}
		}

		$(".new_user, .edit_user").validate({
			focusInvalid: false,
			rules: rules
		});

		$("#user_account_type").select2({
			allowClear: true,
			placeholder: "Sélectionner..."
		});

		if($("#user_partner_id")[0].tagName == "SELECT") {
			$("#user_partner_id").select2({
				allowClear: true,
				placeholder: "Sélectionner..."
			});
		}


		<% if type == 'extended' %>
		$("#user_companies").attr('multiple', 'multiple').attr('name', $("#user_companies").attr('name')+'[]');
		$("#user_companies option:selected").removeAttr("selected");
		$("#user_promocode_ids, #user_company_ids").select2({
			allowClear: true,
			placeholder: "Sélectionner..."
		});
		<% end %>
	});
</script>
<%= form_for [:admin, @user], :html => { :multipart => true } do |f| %>
	<div class="row">
		<%= f.label :name, class: "col-sm-3 control-label" %>
		<div class="col-sm-4 form-group has-error">
			<%= f.text_field :last_name, class: "form-control", :placeholder => "Nom" %>
		</div><div class="col-sm-5">
			<%= f.text_field :name, class: "form-control", :placeholder => "Prénom" %>
		</div>
	</div>

	<div class="row form-group">
		<%= f.label :email, class: "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :email, class: "form-control", :placeholder => "Email" %>
		</div>
	</div>

	<div class="row">
		<%= f.label :phone, class: "col-sm-3 control-label" %>
		<div class="col-sm-4 form-group has-error">
			<%= f.text_field :cellphone, class: "form-control", :placeholder => "Téléphone portable" %>
		</div>
		<div class="col-sm-5">
			<%= f.text_field :phone, class: "form-control", :placeholder => "Téléphone" %>
		</div>
	</div>

	<div class="row form-group">
		<%= f.label :address, class: "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :address, class: "form-control", :placeholder => "Adresse" %>
		</div>
	</div>

	<div class="row form-group">
		<%= f.label :postcode, class: "col-sm-3 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :postcode, class: "form-control", :placeholder => "Code postal" %>
		</div>
		<div class="col-sm-5">
			<%= f.text_field :city, class: "form-control", :placeholder => "Ville" %>
		</div>
	</div>

	
	<% if params["action"] == 'new' || params["action"] == 'operator_steps' then selected = 'client' else selected = @user.account_type end %>
	<div class="row form-group accountTypeRow">
		<%= f.label :account_type, class: "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%# if current_partner.nil? %>
				<%= f.select(:account_type, User::Account_types_select, :selected => selected, class: "form-control select") %>
			<%# else %>
				<%#= f.select(:account_type, User::Account_types_select_partneradmin, :selected => selected, class: "form-control select") %>
			<%# end %>
		</div>
	</div>

	<div class="row form-group passRow">
		<%= f.label :password, class: "col-sm-3 control-label" %>
		<div class="col-sm-4">
			<%= f.password_field :password, class: "form-control", :placeholder => "Mot de passe" %>
		</div>
		<div class="col-sm-5">
			<%= f.password_field :password_confirmation, class: "form-control", :placeholder => "Confirmation" %>
		</div>
	</div>

	<div class="row form-group photoRow">
		<%= f.label :photo, class: "col-sm-3 control-label" %>
		<div class="col-sm-3">	
			<%= f.file_field :photo %>
		</div>
		<div class="col-sm-6">	
			<%= "<img src=\"#{@user.photo_url}\" style=\"max-width:55px\"/>".html_safe unless @user.photo_url.nil? %>
		</div>
	</div>

	<% if current_partner.nil? %>
		<% if params["action"] == 'new' then checked = false else checked = @user.enabled end %>
		<div class="row form-group enableRow">
			<%= f.label :enabled, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
				<label class="checkbox-inline">
					<%= f.radio_button :enabled, '0', :checked => checked, :class => "px" %>
					<span class="lbl"><%= label :contactmethod_0, 'Non' %></span>
				</label>
				<label class="checkbox-inline">
					<%= f.radio_button :enabled, '1', :checked => !checked, :class => "px" %>
					<span class="lbl"><%= label :contactmethod_1, 'Oui' %></span>
				</label>
			</div>
		</div>
	<% end %>

	<% if current_partner.nil? %>
	<div class="row form-group partnerIdRow">
		<%= f.label :partner_id, class: "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.select(:partner_id, partners_for_select('Aucune'), class: "form-control select") %>
		</div>
	</div>
	<% else %>
		<%= f.hidden_field(:partner_id, :value => current_partner.id) %>
	<% end %>

	<% if type == 'extended' %>
		<div class="row form-group">
			<%= f.label :companies, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
				<%= f.collection_select :company_ids, Company.all, :id, :name, {}, {:multiple => true} %>
			</div>
		</div>

		<div class="row form-group">
			<%= f.label :promocodes, class: "col-sm-3 control-label" %>
			<div class="col-sm-9">
				<%= f.collection_select :promocode_ids, Promocode.all, :id, :name, {}, {:multiple => true} %>
			</div>
		</div>

		<hr class="panel-wide">

		<div class="text-right">
			<a class="btn btn-flat btn-danger" href="<%= admin_users_path %>">Annuler</a>
			<%= f.submit action, class: "btn btn-primary btn-flat" %>
		</div>
	</div>

	<% end %>

<% end %>