<h1>Liste des voitures de l'entreprise</h1>
<table>
<% @cars.each do |car| %>
	<tr>
		<td><%= car.id %></td>
		<td><%= car.name %></td>
		<td><%#= car.email %></td>
		<td><%#= car.cars[1] %></td>
		<td><%= link_to "Editer", edit_car_path(car) %></td>
		<td><%= link_to "Supprimer", car, method: :delete, data: { confirm: "You sure?" } %></td>
	</tr>
<% end %>
</table>
<%= link_to "Retour à l'accueil", root_url %>
<%= link_to "Ajouter une voiture", new_partner_car_path %>