<div class="row">
	<div class="col-md-12">
		<h2>Journal d'évènements</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title">Utilisateurs</span>
			</div>
			<div class="panel-body">
				<% @logs[:users].each do |l| %>
				<% user = User.find_by(id: l.user_id) %>
				<p>
					<%= l.created_at.strftime("%d/%m/%Y à %H:%I:%S") %> - 
					<%= link_to(admin_user_path(user)) do build_name(user) end %>
					<span class="text-danger"><%= l.action_string %></span>
					<%= l.target_string %>
				</p>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title">Courses</span>
			</div>
			<div class="panel-body">
				<% @logs[:courses].each do |l| %>
				<p>
					<%= l.created_at.strftime("%d/%m/%Y à %H:%I:%S") %> - 
					<%= link_to(admin_user_path(User.find_by(id: l.user_id))) do build_name(User.find_by(id: l.user_id)) end %>
					<span class="text-danger"><%= l.action_string %></span>
					<%= l.target_string %>
				</p>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title">Entreprises partenaires</span>
			</div>
			<div class="panel-body">
				<% @logs[:partners].each do |l| %>
				<p>
					<%= l.created_at.strftime("%d/%m/%Y à %H:%I:%S") %> - 
					<%= link_to(admin_user_path(User.find_by(id: l.user_id))) do build_name(User.find_by(id: l.user_id)) end %>
					<span class="text-danger"><%= l.action_string %></span>
					<%= l.target_string %>
				</p>
				<% end %>
			</div>
		</div>
	</div>
</div>