<style>
#map-canvas {
    height: 800px;
    margin: 0px;
    padding: 0px;
    font-family:Roboto;
}
.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}
</style>
<script>
	init.push(function () {
		$("#partner-select, #status-select").select2({
			allowClear: true,
			placeholder: "Sélectionner..."
		});
		$('.popsover').popover();
	});

</script>
<div id="map-filters" class="panel panel-info">
	<div class="panel-heading">
		<span class="panel-title">Filtres (En construction)</span>
		<div class="panel-heading-controls">
			<span id="status-ok-counter" class="label label-success popsover" data-content="Courses affichées" data-placement="top" data-toggle="popover">0</span>
			<span id="status-ko-counter" class="label label-danger popsover" data-content="Courses invalides" data-placement="top" data-toggle="popover">0</span>
			<span id="status-notfound" class="label label-danger">0</span>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6">
				<div>
					<label for="course-view">visualiser le trajet des courses</label>
					<div>
						<label class="checkbox-inline">
							<input type="radio" class="px" value="1" id="courses-view" name="courses-view" checked><span class="lbl">Oui</span>
						</label>
						<label class="checkbox-inline">
							<input type="radio" class="px" value="0" id="courses-view" name="courses-view"><span class="lbl">Non</span>
						</label>
					</div>
				</div>
				<div>
					<label for="courses-partner">Courses appartenant à :</label>
					<select id="courses-partner">
						<% @partners.each do |partner| %>
							<option value="<%= partner.id %>"><%= partner.name %></option>
						<% end %>
					</select>
				</div>
				<div>
					<label for="courses-status">Status des courses :</label>
					<select id="courses-status">
						<% Course.statuses.each do |status| %>
							<option value="<%= status[1] %>"><%= Course::Status_alias[status[0]] %></option>
						<% end %>
					</select>
				</div>
			</div>
			<div class="col-sm-6">
				<label for="course-view">visualiser les positions des chauffeurs</label>
				<div>
					<label class="checkbox-inline">
						<input type="radio" class="px" value="1" id="partners-view" name="partners-view" checked><span class="lbl">Oui</span>
					</label>
					<label class="checkbox-inline">
						<input type="radio" class="px" value="0" id="partners-view" name="partners-view"><span class="lbl">Non</span>
					</label>
				</div>
				<div>
					<label for="partners-drivers">Chauffeurs de l'entreprise :</label>
					<select id="partners-drivers">
						<% @partners.each do |partner| %>
							<option value="<%= partner.id %>"><%= partner.name %></option>
						<% end %>
					</select>
				</div>
				<div>
					<label for="partners-driver-status">Status des chauffeurs :</label>
					<select id="partners-driver-status">
						<% User::Status.each do |i, status| %>
							<option value="<%= i.to_s %>"><%= status[:name] %></option>
						<% end %>
					</select>
				</div>
			</div>
		</div>
		<p id="select-status-display"></p>
	</div>
	<div class="panel-footer text-right">
		<button id="get" class="btn btn-info">Voir</button>
	</div>
</div>
<div id="map-canvas"></div>