<script>
	init.push(function () {
		$('#balance_partners .ticket .panel').slimScroll({ height: 200, alwaysVisible: false, color: '#888',allowPageScroll: true });

		$('.date').datepicker({
			daysOfWeekDisabled: "6",
			todayHighlight: true,
			format: 'mm/dd/yyyy'
		});
	
		var tax_data = <%= raw @chartData.to_json %>

		Morris.Line({
			element: 'sup',
			data: tax_data,
			xkey: 'period',
			ykeys: ['ca', 'course_count'],
			labels: ["Chiffre d'affaire", 'Nombre de courses'],
			lineColors: ['#666', '#888'],
			lineWidth: 2,
			pointSize: 4,
			gridLineColor: '#cfcfcf',
			resize: true
		});

	});

</script>
<h2>Récapitulatif mensuel des paiements</h2>
<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title">Sélectionner une période</span>
			</div>
			<div class="panel-body">
				<form id="select-date" class="form-inline col-xs-6" action="<%= admin_monthly_path %>">
					<span>Par mois : </span><%= date_select("recap", "date", {:start_year => 2014, :end_year => Time.new.year, :discard_day => true }, {:class => "form-control"} ) %>
					<button type="submit" class="btn btn-info">Voir</button>
				</form>
				<form id="select-date" class="form-inline col-xs-6" action="<%= admin_monthly_path %>">
					<span>Ou par dates précises : </span>Du <input class="form-control date" name="date_start"/> au <input class="form-control date" name="date_end"/> 
					<button type="submit" class="btn btn-info">Voir</button>
				</form>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title">Totaux</span>
			</div>
			<div class="list-group">
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Nombre de courses effectuées<span class="text-default text-sm" style="float:right;"><%= @courses.count %></span></div>
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Prix total brut des courses (avant codes promos)<span class="text-default text-sm" style="float:right;"><%= @totals[:full_price].round(2) %> €</span></div>
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Prix total des courses (après codes promos)<span class="text-default text-sm" style="float:right;"><%= @totals[:promo_price].round(2) %> €</span></div>
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Somme totale redistribuée aux chauffeurs<span class="text-default text-sm" style="float:right;"><%= @totals[:partner_share].round(2) %> €</span></div>
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Somme totale revenant à Naveco<span class="text-default text-sm" style="float:right;"><%= @totals[:naveco_share].round(2) %> €</span></div>
				<span> </span><span><%= @a.to_s %></span>
			</div>
		</div>
		<div class="panel widget-support-tickets" id="balance_partners">
			<div class="panel-heading">
				<span class="panel-title">Balance des entreprises partenaires</span>
				<div class="panel-heading-controls">
					<div class="btn-group btn-group-xs">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Fichiers de virements SEPA&nbsp;<i class="fa fa-caret-down"></i></button>
						<ul class="dropdown-menu">
							<% (0..6).each do |i| %>
								<% if (@date_week[i][:start].strftime("%m")) == (@date[:start].beginning_of_month.strftime("%m")) %>
									<li><a href="<%= admin_download_sepa_order_path %>?recap[date(3i)]=<%= @date_week[i][:start].strftime("%d") %>&recap[date(2i)]=<%= @date_week[i][:start].strftime("%m") %>&recap[date(1i)]=<%= @date_week[i][:start].strftime("%Y") %>">Ordre du <%= @date_week[i][:start].strftime("%d/%m/%Y") %> au <%= @date_week[i][:end].strftime("%d/%m/%Y") %></a></li>
								<% end %>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<% @partners.each do |partner| %>
					<%
					courses = partner.courses.where("status = ? AND date_when >= ? AND date_when <= ?", Course.statuses[:done], @date[:start], @date[:end])
					
					alltime_balance = getBalance(partner, @date[:start].beginning_of_month)

					total_to_partner = courses.map {|s| price_afterExtras(s, 'partner')}.reduce(0, :+).round(2)
					total_courses_paid_to_partner = courses.where("payment_by = ?", Course.payment_bies[:partner]).map {|s| price_afterExtras(s)}.reduce(0, :+).round(2)
					%>
					<% if courses.count > 0 %>
					<div class="ticket">
						<div style="margin-bottom:5px">
							<% balance = total_courses_paid_to_partner - total_to_partner %>
							<span class="label label-<%= if balance < 0 then 'success' else 'danger' end %> ticket-label"><%= balance.round(2) %> €</span>
							<a href="<%= admin_partner_path(partner) %>" class="ticket-title"><b><%= partner.name %></b></a>
						</div>
						<div class="panel">
							<table class="table text-xs">
								<tr>
									<th class="text-center">#</th>
									<th>Départ</th>
									<th>Destination</th>
									<th>Type règlement</th>
									<th>Prix client</th>
									<th>Prix affilié</th>
									<th>Marge</th>
								</tr>
								<% courses.each do |course| %>
								<tr>
									<td class="text-center"><a href="<%= admin_course_path(course) %>"><b><%= course.id %></b></a></td>
									<td><%= course.from %></td>
									<td><%= course.to %></td>
									<td><%= Course::Payment_by[course.payment_by.to_sym][:name_admin] %></td>
									<td><%= price_afterExtras(course).round(2) %> €</td>
									<td><%= price_afterExtras(course, 'partner').round(2) %> €</td>
									<td><%= price_afterExtras(course, 'naveco').round(2) %> €</td>
								</tr>
								<% end %>
							</table>
						</div>
						<hr />
						<div class="text-right">
							<a href="<%= admin_monthly_pdf_path %>?p=<%= partner.id.to_s %>&recap[date(3i)]=<%= @date[:start].beginning_of_month.strftime("%d") %>&recap[date(2i)]=<%= @date[:start].beginning_of_month.strftime("%m") %>&recap[date(1i)]=<%= @date[:start].beginning_of_month.strftime("%Y") %>" class="btn btn-sm">Générer la facture</a>

							<div class="btn-group dropup">
								<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Factures commissions par semaines&nbsp;<i class="fa fa-caret-down"></i></button>
								<ul class="dropdown-menu">
									<% (0..6).each do |i| %>
										<% if (@date_week[i][:start].strftime("%m")) == (@date[:start].beginning_of_month.strftime("%m")) %>
											<li><a href="<%= admin_monthly_pdf_path %>?p=<%= partner.id.to_s %>&recap[date(3i)]=<%= @date_week[i][:start].strftime("%d") %>&recap[date(2i)]=<%= @date_week[i][:start].strftime("%m") %>&recap[date(1i)]=<%= @date_week[i][:start].strftime("%Y") %>">Facture du <%= @date_week[i][:start].strftime("%d/%m/%Y") %> au <%= @date_week[i][:end].strftime("%d/%m/%Y") %></a></li>
										<% end %>
									<% end %>
								</ul>
							</div>

							<p>Balance au <%= @date[:start].beginning_of_month.strftime("%d/%m/%Y") %> : <%= alltime_balance.round(2) %> €</p>
						</div>
					</div>
					<% end %>
				<% end %>
			</div>
		</div>

	</div>
	<div class="col-md-6">
		<div class="panel widget-support-tickets">
			<div class="panel-heading">
				<span class="panel-title">Détails des courses effectuées</span>
			</div>
			<div class="panel-body">
				<% @courses.where("status = ?", Course.statuses[:done]).order('payment_status ASC').each do |course| %>
					<div class="ticket">
						<% if course.payment_status == 'paid' %>
						<span class="label label-success ticket-label">Payée</span>
						<% else %>
						<span class="label label-danger ticket-label">Non payée</span>
						<% end %>
						<a title="Voir la course" href="<%= admin_course_path(course) %>" class="ticket-title">De <b><%= course.from %></b> à <b><%= course.to %></b><span>[#<%= course.id.to_s %>]</span></a>
						<div class="ticket-info">
							Client : <a href="<%= if course.user then admin_user_path(course.user) else "#" end %>"><%= if course.user then build_name(course.user) else "#" end %></a> <%= getDateTime(course) %>
						</div>
						<div class="ticket-info">
							Effectuée par la société <a href="<%= admin_partner_path(course.partner) %>"><%= course.partner.name %></a><span class="text-default text-sm" style="float:right;"><%= price_afterExtras(course).round(2) %> €</span>
						</div>
					</div>
				<% end %>
			</div>
			<div class="panel-footer">
				<% totalUnpaid = 0 %>
				<% @unpaidCourses.each do |course| %>
					<% totalUnpaid += price_afterExtras(course) %>
				<% end %>
				<%= @unpaidCourses.count %> courses non reglées <span class="text-default text-sm" style="float:right;"><%= totalUnpaid.round(2) %> €</span>
			</div>
		</div>

		<div class="panel widget-support-tickets">
			<div class="panel-heading">
				<span class="panel-title">Sommes dues par les entreprises clientes</span>
			</div>
			<div class="panel-body">
				<% @companies.each do |company|
					@unpaidCourses2 = company.courses.where("status = ? AND payment_status = ? AND payment_by = ? AND date_when >= ? AND date_when <= ?", Course.statuses[:done], Course.payment_statuses[:not_paid], Course.payment_bies[:company], @date[:start], @date[:end])
					if @unpaidCourses2.count > 0 %>
					<div class="ticket">
						<div>
							<span class="label label-danger ticket-label"><%= (@unpaidCourses2.map {|s| price_afterExtras(s)}.reduce(0, :+)).round(2) %> €</span>
							<a href="<%= admin_company_path(company) %>" class="ticket-title"><b><%= company.name %></b></a>
						</div>
						<% @unpaidCourses2.each do |course| %>
						<div class="ticket-info">
							Course n°<a href="<%= admin_course_path(course) %>"><b><%= course.id %></b></a> - De <%= course.from %> à <%= course.to %><span class="text-default text-xs" style="float:right;"><%= price_afterExtras(course).round(2) %> €</span>
						</div>
						<% end %>
					</div>
					<% end %>
				<% end %>
			</div>
			<div class="panel-footer">
				<% totalUnpaid2 = 0 %>
				<% @unpaidCourses2.each do |course| %>
					<% totalUnpaid2 += price_afterExtras(course) %>
				<% end %>
				<%= @unpaidCourses2.count %> courses non reglées <span class="text-default text-sm" style="float:right;"><%= totalUnpaid2.round(2) %> €</span>
			</div>
		</div>
	</div>
</div>