<h2>Récapitulatif mensuel des paiements</h2>

<div class="row">
	<div class="col-md-6">
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title">Totaux</span>
			</div>
			<div class="list-group">
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Nombre de courses effectuées<span class="text-default text-sm" style="float:right;"><%= @courses.count %></span></div>
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Somme totale des courses (avant codes promos)<span class="text-default text-sm" style="float:right;"><%= @totalPrice %> €</span></div>
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Somme totale facturée (après codes promos)<span class="text-default text-sm" style="float:right;"><%= @totalPriceAfterCodes %> €</span></div>
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Somme totale redistribuée aux chauffeurs<span class="text-default text-sm" style="float:right;"><%= (@totalPrice*0.8).round(2) %> €</span></div>
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Somme totale revenant à Naveco<span class="text-default text-sm" style="float:right;"><%= ((@totalPrice*0.2) - @totalNavecoMargin).round(2) %> €</span></div>
				<span> </span><span><%= @a.to_s %></span> 
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel widget-support-tickets">
			<div class="panel-heading">
				<span class="panel-title">Détails des courses effectuées</span>
			</div>
			<div class="panel-body">
				<% @courses.where("status = ?", Course.statuses[:done]).order('payment_status ASC').each do |course| %>
					<div class="ticket">
						<% if course.payment_status == 'paid' %>
						<span class="label label-success ticket-label">Payée</span>
						<% else %>
						<span class="label label-danger ticket-label">Non payée</span>
						<% end %>
						<a title="Voir la course" href="/partner_admin/courses/4" class="ticket-title">De <%= course.from %> à <%= course.to %><span>[#<%= course.id.to_s %>]</span></a>
						<div class="ticket-info">
							Démarrée par <a href="#"><%= build_name(course.user) %></a> <%= getDateTime(course) %>
						</div>
						<div class="ticket-info">
							Effectuée par la société <a href="#"><%= course.partner.name %></a>
						</div>
					</div>
				<% end %>
			</div>
			<div class="panel-footer">
				<%= @unpaidCourses.count %> courses non reglées
				<% @unpaidCourses.each do |course| %>

				<% end %>
			</div>
		</div>
	</div>
</div>