<script>
	init.push(function () {
		$('#table-to-enable, #table-clients, #table-self-employed, #table-sarl-admins, #table-partneradmins, #table-admins, #table-all').dataTable();

		$('#table-to-enable_wrapper .table-caption').text('Conducteurs à valider');
		$('#table-to-enable_wrapper .dataTables_filter input').attr('placeholder', 'Recherche...');

		$('#table-clients_wrapper .table-caption').text('Liste complète des clients');
		$('#table-clients_wrapper .dataTables_filter input').attr('placeholder', 'Recherche...');

		$('#table-self-employed_wrapper .table-caption').text('Liste complète des auto-entrepreneurs');
		$('#table-self-employed_wrapper .dataTables_filter input').attr('placeholder', 'Recherche...');

		$('#table-sarl-admins_wrapper .table-caption').text('Liste complète des admins SARL');
		$('#table-sarl-admins_wrapper .dataTables_filter input').attr('placeholder', 'Recherche...');

		$('#table-admins_wrapper .table-caption').text('Liste complète des administrateurs');
		$('#table-admins_wrapper .dataTables_filter input').attr('placeholder', 'Recherche...');

		$('#table-all_wrapper .table-caption').text('Liste complète des utilisateurs');
		$('#table-all_wrapper .dataTables_filter input').attr('placeholder', 'Recherche...');

		$('#users-tabs a:first').tab('show');
	});
</script>

<div class="panel-body">
	<ul id="users-tabs" class="nav nav-tabs nav-tabs-simple">
		<li class="">
			<a href="#to-enable" data-toggle="tab">Conducteurs à valider</a>
		</li>
		<li class="">
			<a href="#clients" data-toggle="tab">Clients</a>
		</li>
		<li class="">
			<a href="#self-employed" data-toggle="tab">Auto-entrepreneurs</a>
		</li>
		<li class="">
			<a href="#sarl-admins" data-toggle="tab">Administrateurs de SARL</a>
		</li>
		<li class="">
			<a href="#admins" data-toggle="tab">Administrateurs</a>
		</li>
		<li class="">
			<a href="#all" data-toggle="tab">Tous les utilisateurs</a>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane fade" id="to-enable">
			<div class="table-info">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="table-to-enable">
					<thead>
						<tr>
							<th>#</th>
							<th>Nom Prénom</th>
							<th>Email</th>
							<th>Téléphone / Portable</th>
							<th>Adresse</th>
							<th>Entreprise</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					<% @driversToEnable.each do |user| %>
						<tr>
							<td><%= user.id %></td>
							<td><%= user.full_name %></td>
							<td><%= user.email %></td>
							<td><%= user.phone %> / <%= user.cellphone %></td>
							<td><%= build_address(user) %></td>
							<td><%= user.partner.name unless user.partner.nil? %></td>
							<td style="text-align:center; font-size:16px;"><%= link_to admin_user_path(user), { :title => "Voir" } do %><i class="menu-icon fa fa-eye"></i><% end %> | <%= link_to edit_admin_user_path(user), { :title => "Editer" } do %><i class="menu-icon fa fa-pencil"></i><% end %> | <%= link_to admin_user_path(user), method: :delete, data: { confirm: "Êtes-vous sur ?" }, title: "Supprimer" do %><i class="menu-icon fa fa-trash-o"></i><% end %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="tab-pane fade" id="clients">
			<div class="table-info">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="table-clients">
					<thead>
						<tr>
							<th>#</th>
							<th>Nom Prénom</th>
							<th>Email</th>
							<th>Téléphone / Portable</th>
							<th>Ville</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					<% @clients.each do |user| %>
						<tr>
							<td><%= user.id %></td>
							<td><%= user.full_name %></td>
							<td><%= user.email %></td>
							<td><%= user.phone %> / <%= user.cellphone %></td>
							<td><%= build_address(user) %></td>
							<td style="text-align:center; font-size:16px;"><%= link_to admin_user_path(user), { :title => "Voir" } do %><i class="menu-icon fa fa-eye"></i><% end %> | <%= link_to edit_admin_user_path(user), { :title => "Editer" } do %><i class="menu-icon fa fa-pencil"></i><% end %> | <%= link_to admin_user_path(user), method: :delete, data: { confirm: "Êtes-vous sur ?" }, title: "Supprimer" do %><i class="menu-icon fa fa-trash-o"></i><% end %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="tab-pane fade" id="self-employed">
			<div class="table-primary">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="table-self-employed">
					<thead>
						<tr>
							<th>#</th>
							<th>Nom Prénom</th>
							<th>Email</th>
							<th>Entreprise</th>
							<th>Crée par</th>
							<th>Type</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					<% @users_selfemployed_admins.each do |user| %>
						<tr>
							<td><%= user.id %></td>
							<td><%= user.full_name %></td>
							<td><%= user.email %></td>
							<td><%= user.partner.name unless user.partner.nil? %></td>
							<td><%#= user.created_by_user.name unless user.created_by.nil? %></td>
							<td><%= User::Account_types[user.account_type.to_sym][:name] %></td>
							<td style="text-align:center; font-size:16px;"><%= link_to admin_user_path(user), { :title => "Voir" } do %><i class="menu-icon fa fa-eye"></i><% end %> | <%= link_to edit_admin_user_path(user), { :title => "Editer" } do %><i class="menu-icon fa fa-pencil"></i><% end %> | <%= link_to admin_user_path(user), method: :delete, data: { confirm: "Êtes-vous sur ?" }, title: "Supprimer" do %><i class="menu-icon fa fa-trash-o"></i><% end %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="tab-pane fade" id="sarl-admins">
			<div class="table-primary">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="table-sarl-admins">
					<thead>
						<tr>
							<th>#</th>
							<th>Nom Prénom</th>
							<th>Email</th>
							<th>Entreprise</th>
							<th>Crée par</th>
							<th>Type</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					<% @users_sarl_admins.each do |user| %>
						<tr>
							<td><%= user.id %></td>
							<td><%= user.full_name %></td>
							<td><%= user.email %></td>
							<td><%= user.partner.name unless user.partner.nil? %></td>
							<td><%#= user.created_by_user.name unless user.created_by.nil? %></td>
							<td><%= User::Account_types[user.account_type.to_sym][:name] %></td>
							<td style="text-align:center; font-size:16px;"><%= link_to admin_user_path(user), { :title => "Voir" } do %><i class="menu-icon fa fa-eye"></i><% end %> | <%= link_to edit_admin_user_path(user), { :title => "Editer" } do %><i class="menu-icon fa fa-pencil"></i><% end %> | <%= link_to admin_user_path(user), method: :delete, data: { confirm: "Êtes-vous sur ?" }, title: "Supprimer" do %><i class="menu-icon fa fa-trash-o"></i><% end %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="tab-pane fade" id="admins">
			<div class="table-danger">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="table-admins">
					<thead>
						<tr>
							<th>#</th>
							<th>Type</th>
							<th>Nom Prénom</th>
							<th>Email</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					<% @admins.each do |user| %>
						<tr>
							<td><%= user.id %></td>
							<td><%= User::Account_types[user.account_type.to_sym][:name] %></td>
							<td><%= user.full_name %></td>
							<td><%= user.email %></td>
							<td style="text-align:center; font-size:16px;"><%= link_to admin_user_path(user), { :title => "Voir" } do %><i class="menu-icon fa fa-eye"></i><% end %> | <%= link_to edit_admin_user_path(user), { :title => "Editer" } do %><i class="menu-icon fa fa-pencil"></i><% end %> | <%= link_to admin_user_path(user), method: :delete, data: { confirm: "Êtes-vous sur ?" }, title: "Supprimer" do %><i class="menu-icon fa fa-trash-o"></i><% end %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="tab-pane fade" id="all">
			<div class="table-success">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="table-all">
					<thead>
						<tr>
							<th>#</th>
							<th>Type</th>
							<th>Nom Prénom</th>
							<th>Email</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					<% User.all.each do |user| %>
						<tr>
							<td><%= user.id %></td>
							<td><%= user.account_type %></td>
							<td><%= user.full_name %></td>
							<td><%= user.email %></td>
							<td style="text-align:center; font-size:16px;"><%= link_to admin_user_path(user), { :title => "Voir" } do %><i class="menu-icon fa fa-eye"></i><% end %> | <%= link_to edit_admin_user_path(user), { :title => "Editer" } do %><i class="menu-icon fa fa-pencil"></i><% end %> | <%= link_to admin_user_path(user), method: :delete, data: { confirm: "Êtes-vous sur ?" }, title: "Supprimer" do %><i class="menu-icon fa fa-trash-o"></i><% end %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= link_to(new_admin_user_path) do %>
		<button class="btn btn-flat btn-labeled btn-primary"><span class="btn-label icon fa fa-user"></span>Ajouter un utilisateur</button>
		<% end %>
	</div>
</div>