<script>
	init.push(function () {
		$('#jq-datatables-clients').dataTable();
		$('#jq-datatables-clients_wrapper .table-caption').text('Liste complète des clients');
		$('#jq-datatables-clients_wrapper .dataTables_filter input').attr('placeholder', 'Recherche...');

		$('#jq-datatables-drivers').dataTable();
		$('#jq-datatables-drivers_wrapper .table-caption').text('Liste complète des conducteurs');
		$('#jq-datatables-drivers_wrapper .dataTables_filter input').attr('placeholder', 'Recherche...');

		$('#jq-datatables-partneradmins').dataTable();
		$('#jq-datatables-partneradmins_wrapper .table-caption').text('Liste complète des administrateurs partenaires');
		$('#jq-datatables-partneradmins_wrapper .dataTables_filter input').attr('placeholder', 'Recherche...');

		$('#jq-datatables-admins').dataTable();
		$('#jq-datatables-admins_wrapper .table-caption').text('Liste complète des administrateurs');
		$('#jq-datatables-admins_wrapper .dataTables_filter input').attr('placeholder', 'Recherche...');
		$('#users-tabs a:first').tab('show');
	});
</script>

<div class="panel-body">
	<ul id="users-tabs" class="nav nav-tabs nav-tabs-simple">
		<li class="">
			<a href="#clients" data-toggle="tab">Clients</a>
		</li>
		<li class="">
			<a href="#drivers" data-toggle="tab">Conducteurs</a>
		</li>
		<li class="">
			<a href="#partneradmins" data-toggle="tab">Administrateurs partenaires</a>
		</li>
		<li class="">
			<a href="#admins" data-toggle="tab">Administrateurs</a>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane fade" id="clients">
			<div class="table-info">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatables-clients">
					<thead>
						<tr>
							<th>#</th>
							<th>Nom Prénom</th>
							<th>Email</th>
							<th>Entreprise</th>
							<th>Crée par</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					<% @clients.each do |user| %>
						<tr>
							<td><%= user.id %></td>
							<td><%= build_name(user) %></td>
							<td><%= user.email %></td>
							<td><%= user.partner.name unless user.partner.nil? %></td>
							<td><%= user.created_by_user.name unless user.created_by.nil? %></td>
							<td style="text-align:center; font-size:16px;"><%= link_to admin_user_path(user), { :title => "Voir" } do %><i class="menu-icon fa fa-eye"></i><% end %> | <%= link_to edit_admin_user_path(user), { :title => "Editer" } do %><i class="menu-icon fa fa-pencil"></i><% end %> | <%= link_to admin_user_path(user), method: :delete, data: { confirm: "Êtes-vous sur ?" }, title: "Supprimer" do %><i class="menu-icon fa fa-trash-o"></i><% end %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="tab-pane fade" id="drivers">
			<div class="table-primary">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatables-drivers">
					<thead>
						<tr>
							<th>#</th>
							<th>Nom Prénom</th>
							<th>Email</th>
							<th>Entreprise</th>
							<th>Crée par</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					<% @drivers.each do |user| %>
						<tr>
							<td><%= user.id %></td>
							<td><%= build_name(user) %></td>
							<td><%= user.email %></td>
							<td><%= user.partner.name unless user.partner.nil? %></td>
							<td><%= user.created_by_user.name unless user.created_by.nil? %></td>
							<td style="text-align:center; font-size:16px;"><%= link_to admin_user_path(user), { :title => "Voir" } do %><i class="menu-icon fa fa-eye"></i><% end %> | <%= link_to edit_admin_user_path(user), { :title => "Editer" } do %><i class="menu-icon fa fa-pencil"></i><% end %> | <%= link_to admin_user_path(user), method: :delete, data: { confirm: "Êtes-vous sur ?" }, title: "Supprimer" do %><i class="menu-icon fa fa-trash-o"></i><% end %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="tab-pane fade" id="partneradmins">
			<div class="table-warning">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatables-partneradmins">
					<thead>
						<tr>
							<th>#</th>
							<th>Nom Prénom</th>
							<th>Email</th>
							<th>Entreprise</th>
							<th>Crée par</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					<% @partneradmins.each do |user| %>
						<tr>
							<td><%= user.id %></td>
							<td><%= build_name(user) %></td>
							<td><%= user.email %></td>
							<td><%= user.partner.name unless user.partner.nil? %></td>
							<td><%= user.created_by_user.name unless user.created_by.nil? %></td>
							<td style="text-align:center; font-size:16px;"><%= link_to admin_user_path(user), { :title => "Voir" } do %><i class="menu-icon fa fa-eye"></i><% end %> | <%= link_to edit_admin_user_path(user), { :title => "Editer" } do %><i class="menu-icon fa fa-pencil"></i><% end %> | <%= link_to admin_user_path(user), method: :delete, data: { confirm: "Êtes-vous sur ?" }, title: "Supprimer" do %><i class="menu-icon fa fa-trash-o"></i><% end %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="tab-pane fade" id="admins">
			<div class="table-danger">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatables-admins">
					<thead>
						<tr>
							<th>#</th>
							<th>Type</th>
							<th>Nom Prénom</th>
							<th>Email</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					<% @admins.each do |user| %>
						<tr>
							<td><%= user.id %></td>
							<td><%= User::Account_type_alias[user.account_type] %></td>
							<td><%= build_name(user) %></td>
							<td><%= user.email %></td>
							<td style="text-align:center; font-size:16px;"><%= link_to admin_user_path(user), { :title => "Voir" } do %><i class="menu-icon fa fa-eye"></i><% end %> | <%= link_to edit_admin_user_path(user), { :title => "Editer" } do %><i class="menu-icon fa fa-pencil"></i><% end %> | <%= link_to admin_user_path(user), method: :delete, data: { confirm: "Êtes-vous sur ?" }, title: "Supprimer" do %><i class="menu-icon fa fa-trash-o"></i><% end %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= link_to(new_admin_user_path) do %>
		<button class="btn btn-flat btn-labeled btn-primary"><span class="btn-label icon fa fa-user"></span>Ajouter un utilisateur</button>
		<% end %>
	</div>
</div>