<h2>Informations de l'utilisateur</h2>

<!-- / AJOUT  -->
<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title">Sélectionner une période</span>
			</div>
			<div class="panel-body">
				<form id="select-date" class="form-inline col-xs-6" action="<%= admin_user_path %>">
					<span>Par mois : </span><%= date_select("recap", "date", {:start_year => 2014, :end_year => Time.new.year, :discard_day => true }, {:class => "form-control"} ) %>
					<button type="submit" class="btn btn-info">Voir</button>
				</form>
				<form id="select-date" class="form-inline col-xs-6" action="<%= admin_user_path %>">
					<span>Ou par dates précises : </span>Du <input class="form-control date" name="date_start"/> au <input class="form-control date" name="date_end"/> 
					<button type="submit" class="btn btn-info">Voir</button>
				</form>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

 <!-- 7. $MORRISJS_BARS =============================================================================

				Morris.js Bars
-->
				<!-- Javascript -->


				<script>

				var tax_data = <%= raw @chartData.to_json %>

				Morris.Line({
					element: 'sup',
					data: tax_data,
					xkey: 'period',
					ykeys: ['ca', 'course_count'],
					labels: ["Chiffre d'affaire", 'Nombre de courses'],
					lineColors: ['#666', '#888'],
					lineWidth: 2,
					pointSize: 4,
					gridLineColor: '#cfcfcf',
					resize: true
				});


					init.push(function () {
						Morris.Bar({
							element: 'hero-bar',
							data: [
									<% (1..5).each do |i| %>
										{ 
											geekbench:<%= @courses[i].map {|s| price_afterPromo(s)}.reduce(0, :+).round(2) %>

										},
									<% end %>
							],
							xkey: 'months',
							ykeys: ['money'],
							labels: ['Chiffre'],
							barRatio: 0.4,
							xLabelAngle: 35,
							hideHover: 'auto',
							barColors: PixelAdmin.settings.consts.COLORS,
							gridLineColor: '#cfcfcf',
							resize: true
						});
					});
				</script>
				<!-- / Javascript -->
				
				<div class="panel">
					<div class="panel-heading">
						<span class="panel-title">Morris.js Bars</span>
					</div>
					<div class="panel-body">
						<div class="note note-info">More info and examples at <a href="http://www.oesmith.co.uk/morris.js/" target="_blank">http://www.oesmith.co.uk/morris.js/</a></div>

						<div class="graph-container">
							<div id="hero-bar" class="graph"></div>
						</div>
					</div>
				</div>
<!-- /7. $MORRISJS_BARS -->

<!-- / FIN AJOUT   -->

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-info panel-dark widget-profile">
			<div class="panel-heading">
				<div class="widget-profile-bg-icon"><i class="fa fa-gears"></i></div>
				<img src="<%= get_photo(@user) %>" class="widget-profile-avatar">
				<div class="widget-profile-header">
					<span><%= build_name(@user) %> <em class="text-sm">[#<%= @user.id %>]</em></span><br>
					<a href="mailto:<%= @user.email %>"><%= @user.email %></a>
				</div>
			</div> <!-- / .panel-heading -->
			<div class="list-group">
				<div class="list-group-item"><i class="fa fa-phone list-group-icon"></i>Téléphone<span class="text-default text-sm" style="float:right;"><%= @user.phone %></span></div>
				<div class="list-group-item"><i class="fa fa-phone list-group-icon"></i>Téléphone portable<span class="text-default text-sm" style="float:right;"><%= @user.cellphone %></span></div>
				<div class="list-group-item"><i class="fa fa-phone list-group-icon"></i>Adresse<span class="text-default text-sm" style="float:right;"><%= build_address(@user) %></span></div>
				<div class="list-group-item"><i class="fa fa-phone list-group-icon"></i>Type de compte<span class="text-default text-sm" style="float:right;"><%= User::Account_types[@user.account_type.to_sym][:name] %></span></div>
				
				<%= link_to edit_admin_user_path(@user), class: "list-group-item" do %><button class="btn btn-labeled btn-block">Editer les informations</button><% end %>
			</div>
		</div>
		
		<div class="panel widget-support-tickets panel-warning">
			<div class="panel-heading">
				<span class="panel-title"><i class="panel-title-icon fa fa-flag-checkered"></i>Liste des courses de l'utilisateur</span>
				<div class="panel-heading-controls">
					<span class="label label-success"><%= (@user.courses.map {|s| price_afterPromo(s)}.reduce(0, :+)).round(2) %> €</span>
				</div>
			</div>
			<div class="panel-body">
				<% if @user.courses.each do |course| %>
					<div class="ticket">
						<span class="label label-<%= Course::Status_alias_css[course.status] %> ticket-label"><%= Course::Status_alias[course.status] %></span>
						<%= link_to admin_course_path(course), title: "Voir la course", class: "ticket-title" do %>De <%= course.from %> à <%= course.to %><span>[#<%= course.id %>]</span><% end %>
						<span class="ticket-info">
							Démarrée par <a href="#" title=""><%= course.user.name unless course.user.nil? %></a> <%= getDateTime(course) %>
						</span><br />
						<%= link_to edit_admin_course_path(course), title: "Editer", class: "text-xs text-default" do %>Editer<% end %>
						<%= link_to admin_course_path(course), method: :delete, data: { confirm: "You sure?" }, title: "Editer", class: "text-xs text-default" do %>Supprimer<% end %>
					</div> <!-- / .ticket -->
				<% end.empty? %>
					Aucune course
				<% end %>
			</div>
			<div class="panel-footer clearfix">
				<%= link_to(new_admin_course_path) do %>
					<button class="btn btn-flat btn-labeled btn-warning btn-xs ">
				    	<span class="btn-label icon fa fa-flag-checkered"></span>Nouvelle course
					</button>
				<% end %>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<% if @user.partner %>
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title"><i class="panel-title-icon fa fa-users"></i>Partenaire rattaché</span>
			</div>
			<div class="panel-body">
				<%= @user.partner.name %>
			</div>
		</div>
		<% end %>
		<% if @user.companies.count > 0 %>
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title"><i class="panel-title-icon fa fa-users"></i>Entreprise cliente rattachée</span>
			</div>
			<div class="panel-body">
				<% @companies.each do |company| %>
					<div><%= company.name %></div>
				<% end %>
			</div>
		</div>
		<% end %>
		<% if @promocodes.count > 0 %>
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title"><i class="panel-title-icon fa fa-users"></i>Codes promos rattachés</span>
			</div>
			<div class="panel-body">
				<% @promocodes.each do |promocode| %>
					<div><%= promocode.name %></div>
				<% end %>
			</div>
		</div>
		<% end %>
	

	<% if @user.companies.count > 0 %>
		<div class="panel panel-dark panel-light-green">
				<div class="panel-heading">
					<span class="panel-title"><i class="panel-title-icon fa fa-users"></i>Entreprise cliente rattachée</span>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Nom</th>
								<th>Téléphone</th>
								<th>E-mail</th>
								<th>Détacher</th>
							</tr>
						</thead>
						<tbody class="valign-middle">
							<% @companies.each do |company| %>
							<tr>
								<td><%= company.id %></td>
								<td><%= link_to admin_company_path(company), { :title => "Voir" } do %><%= company.name %><% end %></td>
								<td><%= company.phone %></td>
								<td><%= company.email %></td>								
								<td>A faire</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				
			</div>
		<% end %>
	</div>

</div>