<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,600,700' rel='stylesheet' type='text/css'>
		<style>

			html{
				height: 100%;
			}

			body {
				font-family: 'Open Sans', sans-serif;
				color: #555555;
				font-size: 12px;
				height: 100%;
				border:0.5mm solid #E2E2E2;
			}
			.invoice{
				
				height: 100%;
			}
			.invoice-header{
				background-color:#f6f6f6;
				padding: 5mm 5mm;
				border-bottom: 3mm solid #f1f1f1;
			}
				#head-logo{
					padding-right: 2mm;
				}
				#head-adress{
					border-left: 2mm solid #E8E8E8;
					color: #959595;
					display: block;
					font-size: 3.2mm;
					line-height: 15px;
					padding-left: 2mm;
					font-weight: 300;
				}
					#head-adress p{
						margin: 0;
					}
				#head-date{
					text-align: right;
					font-size: 11px;
					font-weight: 600;
				}
					#head-date strong{
						color: #A0A0A0;
						font-size: 10px;
					}
					#invoice-number{
						background-color: #FFF;
						padding: 0.5mm 1mm;
					}
			.invoice-info{
				padding: 5mm 5mm;
				font-size: 12px;
				border-bottom: 1mm solid #f1f1f1;
			}
				#destinataire{
					background: none repeat scroll 0% 0% #F7F7F7;
					border-radius: 999px;
					color: #888;
					display: block;
					font-size: 14px;
					font-weight: 600;
					height: 52px;
					line-height: 52px;
					text-align: center;
					width: 52px;
					margin: 0mm 3mm 0mm 0mm;
				}
				#destinataire_com{
					font-size: 10px;
					padding: 0mm 3mm 0mm 0mm;
					text-align: center;
					border-right: 1mm solid #E8E8E8;
				}
				#destinataire_com_2{
					padding-left: 2mm;
				}
			.invoice-recap{
				padding: 5mm 5mm;
				font-size: 12px;
			}
				.invoice-recap h1{
					font-size:20px;
				}
				.invoice-recap table{
					border-collapse: collapse;
					border-spacing: 0px;
					border-bottom: 3px solid #F1F1F1;
				}
					.invoice-recap table thead{
						background: none repeat scroll 0% 0% #F7F7F7;
						color: #888;
					}
						.invoice-recap table thead th{
							border-left: 1px solid #FFF;
							font-weight: 600;
							padding: 7px 3px 7px 3px;
							text-align: left;
							vertical-align: top;
							font-size: 10px;
						}
					.invoice-recap table tbody{
						font-size: 11px;
					}
						.invoice-recap table tbody tr + tr{
							border-top: 1px solid #F1F1F1;
						}
							.invoice-recap table tr:nth-child(even){
								background-color: #FDFDFD;
							}
						.invoice-recap table tbody td{
							border-left: 1px solid #FFF;
							font-weight: 600;
							padding: 20px 5px 20px 5px;
							text-align: left;
							vertical-align: top;
							font-size: 10px;
						}
							.invoice-recap table tbody #details_course, .invoice-recap table tbody #date_heure{
								font-weight: 300;
							}
								.invoice-recap table tbody #details_course{
									font-size: 9px;
								}
			.invoice-total{
				padding: 0mm 5mm;
			}
				#total_table{
					width: 100%;
				}
				.invoice-total #total_table table{
					border-collapse: collapse;
					border-spacing: 0px;
					width: 100%;
				}
					.invoice-total #total_table table tr{
						background: none repeat scroll 0% 0% #F7F7F7;
						color: #888;
						font-weight: 600;
						padding: 2mm 0mm;
						margin-top: 20px;
						border-top:1.5mm solid #FFFFFF;
						border-bottom: 1.5mm solid #FFFFFF;
					}

						.invoice-total #total_table table tr td:first-child{
							padding: 1mm 1mm 1mm 3mm;
						}
							.invoice-total #total_table table tr td:last-child{
								padding: 1mm 3mm 1mm 1mm;
								text-align: right;
							}
						.invoice-total #total_table table tr td strong{
							color:#555;
						}
			.invoice-footer{
				padding: 5mm 5mm;
				text-align: center;
				font-size: 9px;
				position: absolute;
				width: 100%;
				bottom: 0;
			}
				.invoice-footer hr{
					width:80%;
					border:none;
					border-top: 0.5mm solid #E2E2E2;
					background-color: none;
				}

			.column {
				width:50%;
			}
			.left {
				float:left;
			}
			.right {
				float:right;
			}
			.clear {
				clear:both;
			}
			.relative {
				position:relative;
			}

			#header {
				padding-bottom:8mm;
				margin-bottom:9mm;
				border-bottom:0.5mm solid #000;
			}

			#header .columns p {
				font-size:13px;
			}
				#header .right {
					text-align:right;
				}

			#date {
				margin-left:12cm;
				margin-bottom:7mm;
				font-size:15px;
			}

			#overview_courses {
				border-collapse:collapse;
				border:0.5mm solid #00B2A9;
				width:100%;
				margin-bottom:5mm;
			}
				#overview_courses th {
					background:#00B2A9;
					padding:1.5mm 2mm;
					text-align:center;
					color:white;
				}
				#overview_courses td {
					padding:2mm;
				}
				#overview_courses tr td:nth-last-child(-n+3) {
					text-align:center;
				}

			.right-table {
				position:absolute;
				right:0;
			}

			#courses_totals {
				border-collapse:collapse;
				border:0.5mm solid #00B2A9;
				margin-bottom:5mm;
			}

			#partner_total_collected {
				margin-bottom:5mm;
			}
		</style>
	</head>
	<body onload='number_pages()'>
		<div class="panel invoice">
			<div class="invoice-header">
					<table>
						<tr>
							<td id="head-logo"><%= wicked_pdf_image_tag 'pixel-admin/main-navbar-logo.png',:width => "40",  :height=>"40" %></td>
							<td id="head-adress" width="250mm" valign="top">
									<%= @naveco.name %><br />
									<%= build_address(@naveco) %><br />
									<%= @naveco.email %><br />
									<%= @naveco.phone %>
							</td>
							<td id="head-date" width="100%" valign="top">
								<%= I18n.localize(@date_week[:end], :format => "%d %B %Y") %><br /><br />
								<strong>Facture n°</strong><br />
								<span id="invoice-number"><%= @partner.name[0,3].upcase %>-<%= @date_week[:start].strftime("%m.%Y") %>/<%= @date_week[:start].strftime("%d") %>-<%= @date_week[:end].strftime("%d") %></span>
							</td>
						</tr>
					</table>
				</div>
				<div class="invoice-info">
					<table>
						<tr>
							<td id="destinataire_com">Au nom et <br />pour le compte de</td>
							<td id="destinataire_com_2"><strong><%= @partner.name %></strong> [<small><%= Partner::Statuses[@partner.status.to_sym][:name] %></small>]<br />
								<%= build_address(@partner) %><br />
								N° TVA : <% if @partner.status == "company" %><%= @partner.tva_number.to_s %><% end %><% if @partner.status == "self_employed" %><small><i> TVA non applicable, art. 293 B du CGI</i></small><% end %><br />
								<% if @partner.status == "company" %>SIRET : <%= @partner.company_code %><% end %><% if @partner.status == "self_employed" %>SIREN : <%= @partner.company_code %> | <small><i>dispensé d'immatriculation en application de l'article L.123-1-1 du Code du Commerce</i></small><% end %>
							</td>
						</tr>
					</table>
				</div>
				<div class="invoice-recap">
					<h1>Récapitulatif des prestations du <%= @date_week[:start].strftime("%d/%m/%Y") %> au <%= @date_week[:end].strftime("%d/%m/%Y") %></h1>

					<table>
						<thead>
							<tr>
								<th>N° de course</th>
								<th>Détails de la course</th>
								<th>Date/Heure</th>
								<th>Code&nbsp;Promo</th>
								<th>Extras&nbsp;Divers</th>
								<th>Prix&nbsp;Client TTC</th>
								<th>Prix&nbsp;Affilié TTC</th>
								<th>Commission Naveco TTC</th>
							</tr>
						</thead>
						<tbody>
						<% @courses_week.where("status = ?", Course.statuses[:done]).order('payment_status ASC').each do |course| %>
							<tr>
								<td><%= course.id.to_s %></td>
								<td width="220mm" id="details_course">
									De <strong><%= course.from %></strong> à <strong><%= course.to %><br />
									Véhicule : <%= course.car.name unless course.car.nil? %><br />
									<%= course.nb_people %> personne(s) | <%= course.computed_distance %> Km
								</td>
								<td id="date_heure"><%= getDateTime(course) %></td>
								<td>
									<% if course.promocode_amount %>
										- <%= number_with_precision(course.promocode_amount, :precision => 2) %> €
									<% else %>
										0,00 €
									<% end %>
								</td>
								<td><%= course.stops_price %></td>
								<td><%= number_with_precision(price_afterExtras(course), :precision => 2) %> €</td>
								<td><%= number_with_precision(price_afterExtras(course, 'partner'), :precision => 2) %> €</td>
								<td><%= number_with_precision(price_afterExtras(course, 'naveco'), :precision => 2) %> €</td>
							</tr>
						<% end %>
						</tbody>
					</table>
				</div>
				<div class="invoice-total">
					<table id="total_table">
						<tr>
							<td width="50%">
								<table>
									<tr>
										<td>Paiement le</td>
										<td><%= I18n.localize(@date_week[:start].next_week, :format => "%A %e %B %Y") %></td>
									</tr>
								</table>
							</td>
							<td width="50%">
								<table>
									<tr>
										<td>Total perçu chauffeur</td>
										<td><strong><%= number_with_precision(@totals_week[:partner_collected], :precision => 2) %> €</strong></td>
									</tr>
									<tr>
										<td>20% de Commission Naveco TTC</td>
										<td><strong><% if @partner.status == "company" %><%= number_with_precision(@totals_week[:tva], :precision => 2) %><% end %><% if @partner.status == "self_employed" %>N/A<% end %></strong></td>
									</tr>
									<tr>
										<td>Commission Naveco TTC</td>
										<td><strong><% if @partner.status == "company" %><%= number_with_precision(@totals_week[:ttc], :precision => 2) %> €<% end %><% if @partner.status == "self_employed" %>N/A<% end %></strong></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
				<div class="invoice-footer">

				<hr />
					Tél. <%= @naveco.phone %> -  <%= @naveco.email %><br />
					N° SIRET : <%= @naveco.company_code %> - N° TVA Intracommunautaire : <%= @naveco.tva_number.to_s %> - NAF : 4939B - RCS : Lyon B 539 056 051<br />
					<%= @naveco.name %> <%= Partner::Statuses[@naveco.status.to_sym][:name] %> au capital social de 6 000,00 € - <%= build_address(@naveco) %><br />
					www.nav-eco.fr
					
				</div>
			</div>
		</div>
	</body>
</html>