<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<link href="http://fonts.googleapis.com/css?family=Roboto:400,300,400italic" rel='stylesheet' type='text/css'>
		<style>
			body {
				font-family: 'Roboto';
				font-size:11px;
			}
			p {
				margin:0;
			}
			table {
				border-collapse:collapse;
				border:0.5mm solid #00B2A9;
			}
			table th {
				background:#00B2A9;
				padding:1.5mm 2mm;
				text-align:center;
				color:white;
			}
			table td {
				border:0.5mm solid #00B2A9;
				padding:2mm;
			}
			.column {
				width:50%;
			}
			.left {
				float:left;
			}
			.right {
				float:right;
			}
			.clear {
				clear:both;
			}
			.relative {
				position:relative;
			}

			#header {
				padding-bottom:8mm;
				margin-bottom:9mm;
				border-bottom:0.5mm solid #000;
			}

			#header .columns p {
				font-size:13px;
			}
				#header .right {
					text-align:right;
				}

			#date {
				margin-left:12cm;
				margin-bottom:7mm;
				font-size:15px;
			}

			#overview_courses {
				border-collapse:collapse;
				border:0.5mm solid #00B2A9;
				width:100%;
				margin-bottom:5mm;
			}
				#overview_courses th {
					background:#00B2A9;
					padding:1.5mm 2mm;
					text-align:center;
					color:white;
				}
				#overview_courses td {
					padding:2mm;
				}
				#overview_courses tr td:nth-last-child(-n+3) {
					text-align:center;
				}

			.right-table {
				position:absolute;
				right:0;
			}

			#courses_totals {
				border-collapse:collapse;
				border:0.5mm solid #00B2A9;
				margin-bottom:5mm;
			}

			#partner_total_collected {
				margin-bottom:5mm;
			}
		</style>
	</head>
	<body onload='number_pages'>
		<div id="header">
			<div class="columns">
				<div class="column left">
					<p><%= @partner.name %></p>
					<p><%= build_address(@partner) %></p>
					<p>Numéro TVA : <%= @partner.tva_number.to_s %></p>
				</div>
				<div class="column right">
					<p class="right" style="margin-left:5mm"><%= wicked_pdf_image_tag 'pixel-admin/main-navbar-logo.png',:width => "68",  :height=>"68" %></p>
					<p><%= @naveco.name %></p>
					<p><%= build_address(@naveco) %></p>
					<p><%= @naveco.email %></p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div id="date">
			<p><%= I18n.localize(@date.end_of_month, :format => "Le %d %B %Y") %></p>
			<p>Facture n° : <%= @partner.name[0,3].upcase %>-<%= @date.end_of_month.strftime("%m/%Y") %>-1</p>
		</div>
		<div id="content">
			<div class="category">
				<h1>Récapitulatif des prestations</h1>
				<table id="overview_courses">
					<tr>
						<th>Numéro de course</td>
						<th>Départ</td>
						<th>Arrivée</td>
						<th>Date/Heure</td>
						<th>Prix client</td>
						<th>Prix affilié</td>
					</tr>
					<% @courses.where("status = ?", Course.statuses[:done]).order('payment_status ASC').each do |course| %>
					<tr>
						<td><%= course.id.to_s %></td>
						<td><%= course.from %></td>
						<td><%= course.to %></td>
						<td><%= getDateTime(course) %></td>
						<td><%= price_afterPromo(course).round(2) %> €</td>
						<td><%= price_afterPromo(course, 'partner').round(2) %> €</td>
					</tr>
					<% end %>
				</table>

				<div>
					<table id="courses_totals" class="right">
						<tr>
							<td>TOTAL HT</td>
							<td><%= @totals[:ht] %> €</td>
						</tr>
						<tr>
							<td>TOTAL TVA (10%)</td>
							<td><%= @totals[:tva] %> €</td>
						</tr>
						<tr>
							<td>TOTAL TTC</td>
							<td><%= @totals[:ttc] %> €</td>
						</tr>
					</table>
					<div class="clear"></div>
				</div>

				<div>
					<table id="partner_total_collected" class="right">
						<tr>
							<td style="padding:3mm">
								<p>Total des sommes encaissées auprès des clients</p>
								<p style="margin-top:5mm;font-size:9px; font-style:italic">de Naveco au nom et pour le compte de Naveco</p>
							</td>
							<td><%= @totals[:naveco_collected] %> €</td>
						</tr>
					</table>
					<div class="clear"></div>
				</div>

				<div>
					<table id="partner_total_collected" class="right">
						<tr>
							<td>
								SOLDE TTC restant dû ce mois ci
							</td>
							<td><%= (@totals[:ttc] - @totals[:naveco_collected]).round(2) %> €</td>
						</tr>
						<tr>
							<td>
								SOLDE TTC dû totale : 
							</td>
							<td>A venir</td>
						</tr>
					</table>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</body>
</html>