<script>
	init.push(function () {
		$("#partner_phone").mask("99.99.99.99.99");
		$("#partner_company_code").mask("999 999 999 99999");
		$('#jq-validation-select2').select2({ allowClear: true, placeholder: 'Select a country...' }).change(function(){
			$(this).valid();
		});
		$('#jq-validation-select2-multi').select2({ placeholder: 'Select gear...' }).change(function(){
			$(this).valid();
		});

		// Setup validation
		$("#edit_partner_1").validate({
			ignore: '.ignore, .select2-input',
			focusInvalid: false,
			rules: {
				'partner[email]': {
				  required: true,
				  email: true
				},
				'user[password]': {
					required: true,
					minlength: 6,
					maxlength: 20
				},
				'user[password_confirmation]': {
					required: true,
					minlength: 6,
					equalTo: "#user_password"
				},
				'partner[phone]': {
					required: true,
					phone_format: true
				}
			},
			messages: {
				'jq-validation-policy': 'You must check it!'
			}
		});

		$("#course_user_id, #course_partner_id, #course_company_id, #course_status, #course_payment_when").select2({
			allowClear: true,
			placeholder: "Sélectionner..."
		});
	});

</script>
<!-- / Javascript -->

<div class="panel">
	<div class="panel-heading">
		<span class="panel-title">Course</span>
	</div>
	<div class="panel-body">

		<%= form_for [:admin, @course] do |f| %>
		    
			<%= render 'common/error_messages', object: f.object %>

			<div class="form-group">
				<%= f.label :from, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :from, class: "form-control", :placeholder => "(Ville), (Numéro de rue) (Nom de rue)" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :to, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :to, class: "form-control", :placeholder => "(Ville), (Numéro de rue) (Nom de rue)" %>
				</div>
			</div>

			
			<div class="form-group">
				<div class="col-sm-3">
					<button id="calculer" class="btn btn-flat btn-lg" type="button">Calculer le prix</button>
					<div id="gcompute-error-display" class="alert alert-danger" style="display:none"></div>
				</div>
				<div class="col-sm-9">
					<div id="map-canvas" style="height:360px"></div>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :computed_distance, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :computed_distance, class: "form-control",:readonly => true %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :computed_duration, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :computed_duration, class: "form-control", :readonly => true %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :computed_price, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :computed_price, class: "form-control", :readonly => true %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :nb_people, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :nb_people, class: "form-control" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :date_when, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :date_when, class: "form-control date" %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :time_when, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :time_when, class: "form-control time" %>
				</div>
			</div>

			<hr class="panel-wide">

			<div id="stops-group" class="form-group">
				<div class="col-sm-3">
					<p><%= f.label :stops, class: "control-label" %></p>
					<p><button id="add-stops" class="btn btn-flat btn-lg" type="button">Ajouter un arrêt</button></p>
				</div>
				<div class="col-sm-9">
					<div id="stops-list">
					<% if !@course.stops.nil? %>
						<% @course.stops.each do |o| %>
							<div class="stop-container input-group">
								<input type="text" class="form-control course_stops" value="<%= o %>" name="course[stops][]">
								<span class="input-group-addon no-border close-btn bg-danger"><i class="fa fa-close"></i></span>
							</div>
						<% end %>
						<% else %>
							<div class="stop-container input-group">
								<input type="text" class="form-control course_stops" value="" name="course[stops][]">
								<span class="input-group-addon no-border close-btn bg-danger"><i class="fa fa-close"></i></span>
							</div>
					<% end %>
					</div>
				</div>
			</div>

			<hr class="panel-wide">

			<div class="form-group">
				<%= f.label :user_id, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.select(:user_id, users_for_select, :prompt => 'Choisir') %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :partner_id, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.select(:partner_id, partners_for_select, :prompt => 'Choisir') %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :status, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.select(:status, Course::Status_select, class: "form-control") %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label "facturer à", class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.select(:company_id, companies_for_select("Pas d'entreprise"), class: "form-control") %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :payment_when, class: "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.select(:payment_when, payment_when_for_select, class: "form-control") %>
				</div>
			</div>

			<%= hidden_field(:user, :created_by) %>

	</div>
	<div class="panel-footer text-right">
	<a class="btn btn-flat btn-danger" href="<%= admin_courses_path %>">Annuler</a>
		<%= f.submit action, class: "btn btn-primary btn-flat" %>
		<% end %>
	</div>
</div>	