<script>
	init.push(function () {
		$("#company_users_id").select2({
			allowClear: true,
			placeholder: "Sélectionner..."
		});

		if (! $('html').hasClass('ie8')) {
			$('#contents').summernote({
				height: 200,
				tabsize: 2,
				codemirror: {
					theme: 'monokai'
				},
				toolbar: [
				    ['style', ['style']], // no style button
				    ['style', ['bold', 'italic', 'underline', 'clear']],
				    ['fontsize', ['fontsize']],
				    ['color', ['color']],
				    ['para', ['ul', 'ol', 'paragraph']],
				    //['height', ['height']],
				    //['insert', ['picture', 'link']], // no insert buttons
				    ['insert', ['link']], // no insert buttons
				    //['table', ['table']], // no table button
				    //['help', ['help']] //no help button
				  ]
			});
		}
	});
</script>

<h2>Course et détails</h2>
<%#= @promo_amount.inspect %>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-info panel-dark widget-profile">
			<div class="panel-heading">
				<div class="widget-profile-bg-icon"><i class="fa fa-gears"></i></div>
				<img src="<%= image_path('pixel-admin/avatar.png') %>" alt="" class="widget-profile-avatar">
				<div class="widget-profile-header">
					<span><%= @course.from %> - <%= @course.to %> <em class="text-sm">[#<%= @course.id %>]</em></span><br/>
					<span><%= getDateTime(@course) %></span>
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item"><i class="fa fa-user list-group-icon"></i>Nombre de personnes<span class="text-default text-sm" style="float:right;"><%= @course.nb_people %></span></div>
				<div class="list-group-item"><i class="fa fa-barcode list-group-icon"></i>Prix total<span class="text-default text-sm" style="float:right;"><%= price_afterExtras(@course).to_s+' €' %></span></div>
				<div class="list-group-item"><i class="fa fa-barcode list-group-icon"></i>Réduction par code promotion<span class="text-default text-sm" style="float:right;"><%= @course.promocode_amount.to_s+' €' unless @course.promocode_amount.nil? %></span></div>
				<div class="list-group-item"><i class="fa fa-taxi list-group-icon"></i>Distance<span class="text-default text-sm" style="float:right;"><%= @course.computed_distance %></span></div>
				<div class="list-group-item"><i class="fa fa-flag-checkered list-group-icon"></i>Durée<span class="text-default text-sm" style="float:right;"><%= @course.computed_duration %></span></div>
				<div class="list-group-item"><i class="fa fa-pencil-square-o list-group-icon"></i>Nombre de bagages<span class="text-default text-sm" style="float:right;"><%= @course.nb_luggage %></span></div>
				<div class="list-group-item"><i class="fa fa-pencil-square-o list-group-icon"></i>Numéro de vol<span class="text-default text-sm" style="float:right;"><%= @course.flight_number %></span></div>
				<div class="list-group-item"><i class="fa fa-pencil-square-o list-group-icon"></i>Précisions<span class="text-default text-sm" style="float:right;"><%= @course.notes %></span></div>
				<%= link_to edit_admin_course_path(@course), class: "list-group-item" do %><button class="btn btn-labeled btn-block">Editer les informations</button><% end %>
			</div>
		</div>

		<div class="panel widget-support-tickets panel-light-green" id="panel-courses">
			<div class="panel-heading">
				<span class="panel-title"><i class="panel-title-icon fa fa-info-circle"></i>Informations<br /><br /><br /></span>
				<ul class="nav nav-tabs nav-tabs-sm panel-align-left">
					<li class="active ">
						<a href="#partners_tab" data-toggle="tab">Partenaires</a>
					</li>
					<li>
						<a href="#driver_tab" data-toggle="tab">Chauffeur</a>
					</li>
					<li>
						<a href="#car_tab" data-toggle="tab">Voiture</a>
					</li>
					<li>
						<a href="#client_tab" data-toggle="tab">Client</a>
					</li>
					<li>
						<a href="#promo_tab" data-toggle="tab">Code Promo</a>
					</li>
					<li>
						<a href="#company_tab" data-toggle="tab">Entreprise cliente</a>
					</li>
				</ul>
			</div>

			<div class="tab-content">
				<div class="panel-body tab-pane fade active in " id="partners_tab">
					<% if @partner %>
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Nom</th>
									<th>Email</th>
									<th>Téléphone</th>
									<th>Adresse</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><%= @partner.id %></td>
									<td><img src="<%= image_path('pixel-admin/avatar.png') %>" style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#"><%= link_to admin_partner_path(@partner) do @partner.name end %></a></td>
									<td><a href="mailto:<%= @partner.email %>"><%= @partner.email %></a></td>
									<td><%= @partner.phone %></td>
									<td><%= @partner.address %> <%= @partner.postcode %> <%= @partner.city %></td>
									<td><%= @partner.status %></td>
								</tr>
							</tbody>
						</table>
					<% else %>
						Aucun partenaire
					<% end %>
				</div>
				<div class="panel-body tab-pane fade " id="driver_tab">
					<% if @driver %>
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Nom</th>
									<th>Email</th>
									<th>Téléphone</th>
								</tr>
							</thead>
							<tbody class="valign-middle">
								<tr>
									<td><%= @driver.id %></td>
										<td><img src="<%= image_path('pixel-admin/avatar.png') %>" style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#"><%= link_to admin_user_path(@driver) do @driver.name end %></a></td>
									<td><a href="mailto:<%= @driver.email %>"><%= @driver.email %></a></td>
									<td><%= @driver.phone %></td>
								</tr>
							</tbody>
						</table>
					<% else %>
						Aucun chauffeur
					<% end %>
				</div>
				<div class="panel-body tab-pane fade " id="car_tab">
					<% if @car %>
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Nom</th>
									<th>Places</th>
									<th>Type de véhicules</th>
									<th>Propriétaire</th>
								</tr>
							</thead>
							<tbody class="valign-middle">
								<tr>
									<td><%= @car.id %></td>
									<td><%= @car.name %></td>
									<td><%= @car.slots %></td>
									<td><%= @car.car_type %></td>
									<td><%= @car.partner.name %></td>
								</tr>
							</tbody>
						</table>
					<% else %>
						Aucune voiture
					<% end %>
				</div>
				<div class="panel-body tab-pane fade " id="client_tab">
					<% if @client %>
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Nom</th>
									<th>Email</th>
									<th>Téléphone</th>
								</tr>
							</thead>
							<tbody class="valign-middle">
								<tr>
									<td><%= @client.id %></td>
										<td><img src="<%= image_path('pixel-admin/avatar.png') %>" style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#"><%= link_to admin_user_path(@client) do @client.name end %></a></td>
									<td><a href="mailto:<%= @client.email %>"><%= @client.email %></a></td>
									<td><%= @client.phone %></td>
								</tr>
							</tbody>
						</table>
					<% else %>
						Aucun client
					<% end %>
				</div>
				<div class="panel-body tab-pane fade " id="promo_tab">
					<% if @promocode %>
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Nom</th>
									<th>Code</th>
									<th>Type de réduction (% / fixe)</th>
									<th>Réduction</th>
									<th>Type de durée (jours / utilisations)</th>
									<th>Durée</th>
								</tr>
							</thead>
							<tbody class="valign-middle">
								<tr>
									<td><%= @promocode.id %></td>
									<td><%= @promocode.name %></td>
									<td><%= @promocode.code %></td>
									<td><%= Promocode::Effect_types[@promocode.effect_type.to_sym][:name] %></td>
									<td><%= @promocode.effect_type_value %></td>
									<td><%= Promocode::Effect_lengths[@promocode.effect_length.to_sym][:name] %></td>
									<td><%= @promocode.effect_length_value %></td>
								</tr>
							</tbody>
						</table>
					<% else %>
						Aucun code promo
					<% end %>
				</div>
				<div class="panel-body tab-pane fade " id="company_tab">
					<% if @company %>
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Nom</th>
									<th>Email</th>
									<th>Téléphone</th>
								</tr>
							</thead>
							<tbody class="valign-middle">
								<tr>
									<td><%= @company.id %></td>
									<td><img src="<%= image_path('pixel-admin/avatar.png') %>" style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#"><%= link_to admin_user_path(@company) do @company.name end %></a></td>
									<td><a href="mailto:<%= @company.email %>"><%= @company.email %></a></td>
									<td><%= @company.phone %></td>
								</tr>
							</tbody>
						</table>
					<% else %>
						Aucune entreprise cliente
					<% end %>
				</div>

			</div>
		</div>
		
	</div>
	<div class="col-md-6">
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title"><i class="panel-title-icon fa fa-envelope"></i>Envoyer un Email à cet utilisateur</span>
			</div>
			<div class="panel-body">
				<%= form_tag("/admin/email") do %>
					<%= hidden_field_tag(:object_type, "course") %>
					<%= hidden_field_tag(:id, @course.id) %>
					<div class="row form-group">
						<label class="col-sm-2 control-label">Envoyer à :</label>
						<div class="col-sm-10">
					<% if @partner %>
						<label class="checkbox-inline">
							<%= check_box_tag(:partner_email, "1", true, class: "px") %>
							<span class="lbl">Email de l'entreprise partenaire rattachée</span>
						</label>
						<label class="checkbox-inline">
							<%= check_box_tag(:partner_admins, "1", true, class: "px") %>
							<span class="lbl">Administrateurs de l'entreprise partenaire rattachée</span>
						</label>
					<% end %>
					<% if @client %>
						<label class="checkbox-inline">
							<%= check_box_tag(:client, "1", true, class: "px") %>
							<span class="lbl">Client rattaché</span>
						</label>
					<% end %>
					<% if @driver %>
						<label class="checkbox-inline">
							<%= check_box_tag(:driver, "1", true, class: "px") %>
							<span class="lbl">Conducteur de la course</span>
						</label>
					<% end %>
					<%= hidden_field_tag(:return, request.original_url) %>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-2 control-label">Sujet:</label>
						<div class="col-sm-10">
							<%= text_field_tag(:subject, nil, class: 'form-control') %>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-2 control-label">Message:</label>
						<div class="col-sm-10">
							<%= text_area_tag(:contents) %>
						</div>
					</div>
					<hr class="panel-wide">
					<div class="text-right">
						<%= submit_tag("Envoyer", class: "btn btn-primary btn-flat" )%>
					</div>
				<% end %>
			</div>
		</div>

		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title"><i class="panel-title-icon fa fa-envelope"></i>Réenvoyer la facture mail</span>
			</div>
			<div class="panel-body">
				<%= form_tag("/admin/invoice_email") do %>
					<%= hidden_field_tag(:object_type, "course") %>
					<%= hidden_field_tag(:id, @course.id) %>
					<%= hidden_field_tag(:partner_id, @partner.id) %>
					<div class="row form-group">
						<label class="col-sm-2 control-label">Envoyer à :</label>
						<div class="col-sm-10">
						<label class="checkbox-inline">
							<%= check_box_tag(:client, "1", true, class: "px") %>
							<span class="lbl">Client</span>
						</label>
						<label class="checkbox-inline">
							<%= check_box_tag(:navadmin, "1", true, class: "px") %>
							<span class="lbl">Naveco</span>
						</label>
					<%= hidden_field_tag(:return, request.original_url) %>
						</div>
					</div>
					<hr class="panel-wide">
					<div class="text-right">
						<%= submit_tag("Envoyer", class: "btn btn-primary btn-flat" )%>
					</div>
				<% end %>
			</div>
		</div>

	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<%= link_to admin_courses_path do %>
			<button class="btn btn-flat btn-labeled btn-warning">
			    <span class="btn-label icon fa fa-reply"></span>
				Retour à la liste des courses
			</button>
		<% end %>
	</div>
</div>
