<!-- Demo script --> <script src="http://groupe-elephant.fr/naveco_stuff/demo.js"></script> <!-- / Demo script -->
<div id="main-wrapper">


<!-- 2. $MAIN_NAVIGATION ===========================================================================

	Main navigation
-->
	<div id="main-navbar" class="navbar navbar-inverse" role="navigation">
		<!-- Main menu toggle -->
		<button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>
		
		<div class="navbar-inner">
			<!-- Main navbar header -->
			<div class="navbar-header">

				<!-- Logo -->
				<%= link_to(admin_home_path, class: "navbar-brand") do %>
					<div>
						<img alt="Pixel Admin" src="<%= image_path('pixel-admin/main-navbar-logo.png') %>"></div>
						Naveco
				<% end %>

				<!-- Main navbar toggle -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>
  
			</div> <!-- / .navbar-header -->

			<div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
				<div>
					<ul class="nav navbar-nav">
						<% if currently_admining_partner? || current_partner %>
							<li>
								<a href="#">Administration de l'entreprise <span class="text-bold"><%= current_partner.name.to_s %></span></a>
							</li>
							<% if userWeight <= User::Account_types[:admin][:weight] %>
							<li>
								<%= link_to admin_logout_partner_path, title: "Se déconnecter" do %><i class="menu-icon fa fa-times-circle"></i><% end %>
							</li>
							<% end %>
						<% end %>
						
					</ul> <!-- / .navbar-nav -->

					<div class="right clearfix">
						<ul class="nav navbar-nav pull-right right-navbar-nav">

<!-- 3. $NAVBAR_ICON_BUTTONS =======================================================================

							Navbar Icon Buttons

							NOTE: .nav-icon-btn triggers a dropdown menu on desktop screens only. On small screens .nav-icon-btn acts like a hyperlink.

							Classes:
							* 'nav-icon-btn-info'
							* 'nav-icon-btn-success'
							* 'nav-icon-btn-warning'
							* 'nav-icon-btn-danger' 
-->
							<li class="nav-icon-btn nav-icon-btn-danger dropdown">
								<a href="#notifications" class="dropdown-toggle" data-toggle="dropdown">
									<span class="label">0</span>
									<i class="nav-icon fa fa-bell"></i>
									<span class="small-screen-text">Notifications</span>
								</a>

								<!-- NOTIFICATIONS -->
								
								<!-- Javascript -->
								<script>
									init.push(function () {
										$('#main-navbar-notifications').slimScroll({ height: 550 });
									});
								</script>
								<!-- / Javascript -->

								<div class="dropdown-menu widget-notifications no-padding" style="width: 300px">
									<div class="notifications-list" id="main-navbar-notifications">

										<% @notifications = get_user_notifs %>
										<% @notifications.each do |n| %>
										<div class="notification" data-id="<%= n.id %>">
											<div class="notification-title"><a href="<%= n.link %>"><%= n.title %></a></div>
											<div class="notification-description"><%= n.content %></div>
											<div class="notification-ago"><%= n.created_at.to_s %></div>
											<div class="notification-icon fa fa-<%= Notification::Notif_types[n.notif_type]['icon'] %> bg-<%= Notification::Notif_types[n.notif_type]['background'] %>"></div>
										</div>
										<% end %>
									</div> <!-- / .notifications-list -->
								</div> <!-- / .dropdown-menu -->
							</li>

							<li class="nav-icon-btn nav-icon-btn-success dropdown">
								<!-- <a href="#messages" class="dropdown-toggle" data-toggle="dropdown">
									<span class="label">10</span>
									<i class="nav-icon fa fa-envelope"></i>
									<span class="small-screen-text">Income messages</span>
								</a>-->

								<!-- MESSAGES -->
								
								<!-- Javascript -->
								<script>
									/*init.push(function () {
										$('#main-navbar-messages').slimScroll({ height: 250 });
									});*/
								</script>
								<!-- / Javascript -->

								<div class="dropdown-menu widget-messages-alt no-padding" style="width: 300px;">
									<div class="messages-list" id="main-navbar-messages">

										<div class="message">
											<img src="assets/demo/avatars/2.jpg" alt="" class="message-avatar">
											<a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
											<div class="message-description">
												from <a href="#">Robert Jang</a>
												&nbsp;&nbsp;·&nbsp;&nbsp;
												2h ago
											</div>
										</div> <!-- / .message -->

									</div> <!-- / .messages-list -->
									<a href="#" class="messages-link">MORE MESSAGES</a>
								</div> <!-- / .dropdown-menu -->
							</li>

							<li>
								<form class="navbar-form pull-left">
									<input type="text" class="form-control" placeholder="Search">
								</form>
							</li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
									<img src="<%= image_path('pixel-admin/derp.png') %>">
									<span><%= current_user.name %> <%= current_user.last_name %> - </span>
									<spa class="text-info"><%= User::Account_types[current_user.account_type.to_sym][:name] %></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="<%= admin_user_path(current_user) %>"><i class="dropdown-icon fa fa-user"></i>&nbsp;&nbsp;Profil</a></li>
									<li class="divider"></li>
									<li><%= link_to '/logout', method: :delete do %><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Se déconnecter<% end %></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="main-menu" role="navigation">
		<div id="main-menu-inner">
			<div class="menu-content top" id="menu-content-demo">
				<div>
					<div class="text-bg"><span class="text-slim">Bienvenue,</span><br /><span class="text-semibold"><%= current_user.name %></span></div>

					<img src="<%= image_path('pixel-admin/derp.png') %>">
				</div>
			</div>
			<ul class="navigation">
				<% if userWeight == User::Account_types[:superadmin][:weight] %>
				<li>
					<%= link_to(admin_global_stats_path) do %><i class="menu-icon fa fa-line-chart"></i><span class="mm-text"> Statistiques globales</span><% end %>
				</li>
				<li>
					<%= link_to(admin_monthly_path) do %><i class="menu-icon fa fa-usd"></i><span class="mm-text">Récapitulatif mensuel</span><% end %>
				</li>
				<% end %>
				<% if userWeight <= User::Account_types[:admin][:weight] %>
				<li>
					<%= link_to(admin_users_path) do %><i class="menu-icon fa fa-users"></i><span class="mm-text">Utilisateurs</span><% end %>
				</li>
				<li>
					<%= link_to(admin_companies_path) do %><i class="menu-icon fa fa-university"></i><span class="mm-text">Entreprises clientes</span><% end %>
				</li>
				<li>
					<%= link_to(admin_partners_path) do %><i class="menu-icon fa fa-briefcase"></i><span class="mm-text">Partenaires</span><% end %>
				</li>
				<li>
					<%= link_to(admin_courses_path) do %><i class="menu-icon fa fa-flag-checkered"></i><span class="mm-text">Courses</span><% end %>
				</li>
				<li>
					<%= link_to(admin_map_path) do %><i class="menu-icon fa fa-map-marker"></i><span class="mm-text">Carte des taxis</span><% end %>
				</li>
				<li>
					<%= link_to(admin_payments_path) do %><i class="menu-icon fa fa-paypal"></i><span class="mm-text">Paiements</span><% end %>
				</li>
				<li>
					<%= link_to(admin_logs_path) do %><i class="menu-icon fa fa-list"></i><span class="mm-text">Journal d'évènements</span><% end %>
				</li>
				<li>
					<%= link_to(admin_promocodes_path) do %><i class="menu-icon fa fa-ticket"></i><span class="mm-text">Codes promotions</span><% end %>
				</li>
				<% end %>
				<% if currently_admining_partner? %>
				<li class="mm-dropdown">
					<a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text"><%= current_partner.name.to_s %></span></a>
					<ul>
				<% end %>
				<% if currently_admining_partner? || current_partner %>
						<li>
							<a href="<%= admin_home_path %>?for_partner=1"><i class="menu-icon fa fa-info-circle"></i><span class="mm-text">Informations</span></a>
						</li>
						<li>
							<a href="<%= admin_map_path %>?for_partner=1"><i class="menu-icon fa fa-map-marker"></i><span class="mm-text">Carte des taxis</span></a>
						</li>
						<li>
							<a href="<%= admin_monthly_path %>?for_partner=1"><i class="menu-icon fa fa-usd"></i><span class="mm-text">Récapitulatif mensuel</span></a>
						</li>
						<li>
							<a href="<%= admin_users_path %>?for_partner=1"><i class="menu-icon fa fa-users"></i><span class="mm-text">Utilisateurs</span></a>
						</li<li>
							<a href="<%= admin_cars_path %>?for_partner=1"><i class="menu-icon fa fa-taxi"></i><span class="mm-text">Voitures</span></a>
						</li>
						<%#<li>
							<a href="<%= admin_companies_path ?for_partner=1"><i class="menu-icon fa fa-university"></i><span class="mm-text">Entreprises clientes</span></a>
						</li>%>
						<%#<li>
							<a href="<%= admin_courses_path ?for_partner=1"><i class="menu-icon fa fa-flag-checkered"></i><span class="mm-text">Courses</span></a>
						</li>%>
				<% end %>		
				<% if currently_admining_partner? %>
					</ul>
				</li>
				<% end %>
			</ul>
			<% if !currently_admining_partner? && !current_partner %>
				<div class="menu-content">
					<%= link_to "Créer une course", admin_operator_steps_path, class:"btn btn-primary btn-block btn-outline dark" %>
				</div>
			<% end %>
		</div> <!-- / #main-menu-inner -->
	</div> <!-- / #main-menu -->
<!-- /4. $MAIN_MENU -->

	<div id="content-wrapper">
		<!--<ul class="breadcrumb breadcrumb-page">
			<div class="breadcrumb-label text-light-gray">Vous êtes ici: </div>
			<li><%= link_to "Accueil", admin_home_path  %></li>
			<li class="active"><a href="#">Tableau de bord</a></li>
		</ul>-->
		<%= render 'common/flashes' %>